@{
    ViewData["Title"] = "工作记录";
}
@section css{
    <style>
        .main {
            height: 600px;
            width: 100%;
            background: url(/images/back.jpg) right bottom no-repeat;
            position: relative;
            border:1px solid #ccc
        }
    </style>
}

<div class="row main">
    <br /><br /><br />
    <span style="margin-left:80px; font-size:4em;color:#808080;font-family:'Yu Gothic UI'">工作记录</span><br />
    <span style="margin-left:80px; font-size:2.2em;color:#808080;font-family:'Yu Gothic UI'">My Work Manage System</span>
</div>

