@model System.Collections.Generic.List<System.Collections.Generic.Dictionary<string, dynamic>>

@{
    ViewData["Title"] = "用户管理";
}

<div class="row">
    <div class="panel panel-default" style="margin-bottom:-10px;">
        <div class="panel-heading">

            <h3 class="panel-title">用户管理</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <select id="departmentselect" class="form-control" v-cloak v-model="selected" v-on:change="ChangeDepartment">
                        <option v-for="item in items" v-bind:value="item.id">{{item.departmentname}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3" style="text-align:right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddModal">
                        添加
                    </button>
                </div>
            </div>

            <div class="row" style="margin-bottom:-10px;margin-top:10px;">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover  table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>姓名</th>
                                <th>角色</th>
                                <th>标志</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                      
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModiyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        bzsm
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">修改子类型</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control" id="oldid" name="oldid" placeholder="编号">
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" id="oldusername" name="oldusername" placeholder="用户名">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="oldpassword" name="oldpassword" placeholder="密码">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="供货商（支持助记码查询）" id="oldautocomplete" />
                        <input type="hidden" name="olddwbh" id="olddwbh" />

                    </div>
                </div>

                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="oldcustomername" name="oldcustomername" placeholder="姓名">
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="oldtype" name="oldtype">
                            <option value="1">管理员</option>
                            <option value="2">供应商</option>
                            <option value="3">生产企业</option>
                            <option value="4">业务员</option>
                            <option value="5" selected>本企业</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="checkbox" id="oldqyxz" name="oldqyxz" style="width:18px;height:18px;" />批发企业选中，连锁企业不先中
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" id="oldbz" name="oldbz">
                            <option value="0" selected>管理员</option>
                            <option value="1">本公司</option>
                            <option value="2">供应商</option>
                            <option value="3">货位</option>
                            <option value="4">合同号</option>
                            <option value="5">生产企业</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="SavaModify()">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title" id="modeltitle">添加用户</h4>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
                    </div>

                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="供货商（支持助记码查询）" id="autocomplete" />
                        <input type="hidden" name="dwbh" id="dwbh" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="customername" name="customername" placeholder="姓名">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <select class="form-control" id="type" name="type">
                            <option value="1">管理员</option>
                            <option value="2">供应商</option>
                            <option value="3">生产企业</option>
                            <option value="4" selected>业务员</option>
                            <option value="5">本企业</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" id="qyxz" name="qyxz" style="width:18px;height:18px;" />批发企业选中，连锁企业不先中
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">

                    <div class="col-md-6">
                        <select class="form-control" id="bz" name="bz">
                            <option value="0" selected>管理员</option>
                            <option value="1">本公司</option>
                            <option value="2">供应商</option>
                            <option value="3">货位</option>
                            <option value="4">合同号</option>
                            <option value="5">生产企业</option>
                        </select>
                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button class="btn btn-success" onclick="SavaAdd()">
                    保存
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script>
        //部门Vue
        var departmentVue = null;
        //加载部门
        function LoadDepartment() {
            $.ajax({
                method: "GET",
                url: 'alldepartment',
                data: {
                },
                success: function (backData) {
                    console.log(backData)
                    if (backData.result == 1) {
                        if (departmentVue == null) {
                            departmentVue = new Vue({
                                el: '#departmentselect',
                                data: {
                                    selected: (backData.data.length > 0 ? backData.data[0].id : 0),
                                    items: backData.data
                                },
                                methods: {
                                    ChangeDepartment: function () {
                                        //LoadUser(this.selected);
                                    }
                                }
                            })
                        }
                        else {
                            if (backData.data.length > 0) {
                                departmentVue.selected = backData.data[0].id
                            }
                            departmentVue.items = backData.data;
                        }
                     
                    } else {
                        alert(backData.message);
                    }
                },
                error: function (error) {
                    alert(error.statusText)
                }
            })
        }

        $(function () {
            LoadDepartment();

        })


    </script>
}