@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在研项目上传</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/InResearchDownload.css" rel="stylesheet" />
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fuild">
        <span id="dsds" style="display:none"></span>
        <div class="col-md-3">
            <div class="row">
                <div id="divh2" style="cursor: pointer;" onclick="QingKong();num = 0;">
                    <h2>
                        在研产品
                        <span class="glyphicon glyphicon-plus addid"></span>
                    </h2>
                </div>
                <!-- 产品信息 -->
                <ul class="product"></ul>
            </div>
        </div>
        <div class="col-md-9 top">
            <div class="row col-md-12" id="inesearch">
                <!--right-->
                <table border="1" align="center" class="inesearchtable">
                    <tbody>
                        <tr>
                            <th>项目名称</th>
                            <td colspan="4"><input type="text" id="projectname" style="padding-left:20px;"></td>
                        </tr>
                        <tr>
                            <th>项目介绍</th>
                            <td colspan="4"><input type="text" id="projectintroduction" style="padding-left:20px;"></td>
                        </tr>
                        <tr>
                            <th>开始时间</th>
                            <td colspan="2"><input type="datetime-local" id="startingtime" style="padding-left:20px;"></td>
                            <th>结束时间</th>
                            <td colspan="2"><input type="datetime-local" id="endtime" style="padding-left:20px;"></td>
                        </tr>
                        <tr>
                            <th>开发部门</th>
                            <td colspan="2">
                                <select name="" id="department" onchange="SelectDevelopers(this.options[this.options.selectedIndex].value);">
                                    <option value="">研发组</option>
                                    <option value="">研发组</option>
                                </select>
                            </td>
                            <th>开发人员</th>
                            <td colspan="2">
                                <select name="" id="person" onchange="SelectDeveloper(this.options[this.options.selectedIndex].value);">
                                    <option value="">就看见</option>
                                    <option value="">蝶恋蜂狂</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--人员信息-->
                <div class="row col-md-10 ff">
                    <table class="table table hover  person-news table-striped table-bordered table-condensed">
                        <thead>
                            <tr class="info">
                                <th style="line-height:40px;">部门</th>
                                <th style="line-height:40px;">姓名</th>
                                <th style="line-height:40px;">性别</th>
                                <th style="line-height:40px;">电话</th>
                                <th style="line-height:40px;">QQ</th>
                                <th style="line-height:40px;">邮箱</th>
                                <th style="line-height:40px;">类型</th>
                                <th style="line-height:40px;">操作</th>
                            </tr>
                        </thead>
                        <tbody id="infoto"></tbody>
                    </table>
                </div>

            </div>
            <!--百度编辑器-->
            <div class="row col-md-12 baidu">
                <br />
                <label>详细内容：</label>
                <script id="editor" type="text/plain" style="width:100%; height:350px;">
                </script>
            </div>
            <!--按钮-->
            <div class="col-md-5 cc">
                <br />
                <button class="btn btn-info col-md-2 col-md-offset-5" onclick="DeleteResearchers(); DeleteAllResearchers();">删除</button>
                <button class="btn btn-info col-md-2 col-md-offset-5" onclick="InsertAndUpdate(num)">保存</button>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/lib/ueditor/ueditor.config.js"></script>
    <script src="~/lib/ueditor/ueditor.all.js"></script>
    <script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        $(function () {
            SelectInesearch();
            GetSelect();
            createEditor();
        });
        var array = new Array();
        var num;
        //在研项目ID
        function GetID(id) {
            num = id;
            SelectAllInesearch(num);  //查询项目全部信息
            SelectInesearchers(num);  //根据项目ID查询相关人员
        }

        //判断点击保存执行的是添加还是修改
        function InsertAndUpdate(num) {

            if (num > 0) {
                
                UpdateInResearch(num);
                SelectInesearchers(num);
               
            }
            else {
                InsertInResearch();
                
            }
        }
        //#region 逆查询
        var sum;
        function ReverseInquiry() {
            
            $.ajax({
                type: 'POST',
                url: '/reverseinquiry',
                data: {},
                success: function (dataBack) {
                    
                    $(dataBack.data).each(function (index, item) {
                        sum = item.id;
                    });
                    AddReverseInquiry();
                }
            });
        }

        //#endregion

        //#region  添加是获取项目ID传到添加相关人员
        function AddReverseInquiry() {

            array.length = 0;

            DeleteAllResearchers();
            var id = $('#infoto input[type="radio"]:checked').parent().siblings(":first").text();
            var tb = $("#infoto tr");
            tb.each(function () {
                var td = $(this).html();
                var $td = $(td); //将dom对象转化为jquery对象。
                // for (var i = 0; i < $td.length; i++) {
                array.push($td.eq(0).text());
                // }
            })
            alert(array);
            $.ajax({
                type: "POST",
                url: '/insertresearchers',
                data: { ResearchProjectsID: sum, idArray: array, id: id },
                success: function (dataBack) {
                    if (dataBack.result == 1) {
                        SelectInesearchers(sum)
                        if ($("product li").val() = sum) {
                            $("product li").addClass('selected');
                        }
                        
                    }

                },
                error: function (error) {
                }
            });
        }
        //#endregion

        //#region 动态添加部门
        function GetSelect() {
            var str = '';
            $.ajax({
                type: 'GET',
                url: '/selectdepartments',
                data: {},
                success: function (dataBack) {
                    var str = '<option value="0">--请选择部门--</option>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<option value="' + item["id"] + '">' + item["departmentname"] + '</option>';
                    });
                    $('#department').html(str);
                    $("#person").html('<option value="0">--请选择开发人员--</option>');
                }
            });
        }
        
        //#endregion

        //#region  判断结束时间是否大于开始时间
        var startTime;
        var endTime;
        function checkEndTime() {
            startTime= $("#startingtime").val();
            endTime= $("#endtime").val();
             if (endTime < startTime) {
                 layer.msg("结束时间不能小于开始时间！", { icon: 2 });
                 return false;
            }
            return true;
        }  
        //#endregion
        //#region  查询在研项目名称
        function SelectInesearch() {
            $.ajax({
                type: "POST",
                url: '/selectinesearch',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<li value="' + item["id"] + '" style="cursor: pointer;"  onclick=GetID(' + item.id + ');>' + item["projectname"];
                        str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                        str += ' <span class="glyphicon glyphicon-hand-right"></span>';
                        str += '</li>';
                    });
                    $(".product").html(str);
                    $(".product li").click(function (event) {
                        $(".product").css({ 'background': 'rgba(0,0,0,0.8)', 'color': '#fff' });
                        $(".product li").css({ 'background': '', 'color': '' });
                        $(this).css({ 'background': '#fff', 'color': '#000' });
                    });
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });
        }
        //#endregion

        //#region 查询项目全部信息
        function SelectAllInesearch(num) {
            $.ajax({
                type: "POST",
                url: '/selectesearchid',
                data: { id: num },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        $('#projectname').val(item.projectname);
                        $('#projectintroduction').val(item.projectintroduction);
                        $('#startingtime').val(item.startingtime);
                        $('#endtime').val(item.endtime);
                        UE.getEditor('editor').setContent(item.projectprogress);
                    });

                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });
        }
        //#endregion

        //#region 根据部门ID查询开发人员
        function SelectDevelopers(id) {
            $.ajax({
                type: "POST",
                url: '/selectdevelopers',
                data: { departmentID: id },
                success: function (dataBack) {
                    var str = '<option value="0">--请选择开发人员--</option>';
                    $(dataBack.data).each(function (index, item) {
                        str += "<option value=" + item["id"] + ">" + item["name"] + "</option>";
                    });
                    $("#person").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  根据人员ID查询人员信息
        var arrayUser = new Array();
        //根据成员ID添加开发人员
        function SelectDeveloper(id) {
            var array1 = new Array();
            var tb = $("#infoto tr");
            tb.each(function () {
                var td = $(this).html();
                var $td = $(td); //将dom对象转化为jquery对象。
                // for (var i = 0; i < $td.length; i++) {
                array1.push($td.eq(0).text());
                // }
            });
            if ($.inArray(id, array1) == -1) {
                $.ajax({
                    type: "POST",
                    url: "/developersid",
                    data: { Id: id },
                    success: function (dataBack) {
                        var str = '';
                        $(dataBack.data).each(function (index, item) {
                            arrayUser.push(item.id);
                            str += '<tr>';
                            str += '<td style="display:none">' + item.id + '</td>';
                            str += '<td>' + item.departmentname + '</td>';
                            str += '<td>' + item.name + '</td > ';
                            str += '<td>' + (item.sex == false ? "男" : "女") + '</td>';
                            str += '<td>' + item.phone + '</td>';
                            str += '<td>' + item.qq + '</td>';
                            str += '<td>' + item.email + '</td>';
                            str += '<td><input type = "radio" name="permission" style="height: 15px;" ></td>';
                            str += '<td><button class="btn btn-sm btn-warning" onclick="$(this).parent().parent().remove()">移除</td>';
                            str += '</tr>';
                        });
                        $("#infoto").append(str);
                    },
                    error: function (error) {
                        alert(error.status + error.statusText)
                    }
                });
            } else {
                layer.msg("不能添加相同人员！", { icon: 3 });

            }

        }
        //#endregion

        //#region  添加在研项目信息
        function InsertInResearch() {
            if (checkEndTime()){ 
            $.ajax({
                type: "POST",
                url: "/insertresearch",
                data: {
                    ProjectName: $('#projectname').val(),
                    ProjectIntroduction: $('#projectintroduction').val(),
                    StartingTime: $('#startingtime').val(),
                    EndTime: $('#endtime').val(),
                    ProjectProgress: UE.getEditor('editor').getContent(),
                    Projectcontent: UE.getEditor('editor').getPlainTxt()
                },
                success: function (dataBack) {
                    layer.msg(dataBack.message, { icon: 1 });
                    ReverseInquiry();
                    
                    SelectInesearch();
                },
                error: function (error) {
                    layer.msg(dataBack.message, { icon: 2 });
                }
            });
            }
        }
        //#endregion

        //#region  修改在研项目信息
        function UpdateInResearch(id) {
            if (checkEndTime()) { 
                $.ajax({
                type: "POST",
                url: "/updateresearch",
                data: {
                    ID: id,
                    ProjectName: $('#projectname').val(),
                    ProjectIntroduction: $('#projectintroduction').val(),
                    StartingTime: $('#startingtime').val(),
                    EndTime: $('#endtime').val(),
                    ProjectProgress: UE.getEditor('editor').getContent(),
                    Projectcontent: UE.getEditor('editor').getPlainTxt()
                },
                success: function (dataBack) {
                    addRelatedPersonnels(num);
                    layer.msg(dataBack.message, { icon: 1 });
                    if ($("product li").val() = num) {
                        $("product li").addClass('selected');
                    }
                    SelectInesearch();
                    
                },
                error: function (error) {
                    layer.msg(dataBack.message, { icon: 2 });
                }
            });
            
            }
        }
        //#endregion

        //#region 清空数据
        function QingKong() {

            $('#projectname').val("");
            $('#projectintroduction').val("");
            $('#startingtime').val("");
            $('#endtime').val("");
            UE.getEditor('editor').setContent("");
            $('#infoto').text("");

        }
        //#endregion



        //#region  添加相关人员表
        function addRelatedPersonnels() {
            
            array.length = 0;

            DeleteAllResearchers();
            var id = $('#infoto input[type="radio"]:checked').parent().siblings(":first").text();
            var tb = $("#infoto tr");
            tb.each(function () {
                var td = $(this).html();
                var $td = $(td); //将dom对象转化为jquery对象。
                // for (var i = 0; i < $td.length; i++) {
                array.push($td.eq(0).text());
                // }
            })
            alert(array);
            $.ajax({
                type: "POST",
                url: '/insertresearchers',
                data: { ResearchProjectsID: num, idArray: array, id: id },
                success: function (dataBack) {
                    if (dataBack.result == 1) {
                        SelectInesearchers(num)
                    }

                },
                error: function (error) {
                }
            });
        }
        //#endregion
        //#region  根据项目ID删除相关人员信息
        function DeleteAllResearchers() {
            $.ajax({
                type: "POST",
                url: '/seleteallresearchers',
                data: { id: num },
                success: function (dataBack) {
                    
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });

        }
        //#endregion

        //#region  根据人员ID删除相关人员信息
        function YichuResearchers(id) {
            $.ajax({
                type: "POST",
                url: '/deleteresearchers',
                data: {
                    ResearchProjectsID: num,
                    personID: id
                },
                success: function (dataBack) {
                    SelectInesearchers(num);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });

        }
        //#endregion

        //#region  删除在研项目
        function DeleteResearchers() {
            $.ajax({
                type: "POST",
                url: '/deleteinresearch',
                data: {
                    id: num,
                },
                success: function (dataBack) {
                    if (dataBack.result == 1) {
                        layer.msg(dataBack.message, { icon: 1 });
                        QingKong();
                        SelectInesearch();
                    }
                },
                error: function (error) {
                    layer.msg(dataBack.message, { icon: 2 });
                }
            });

        }
        //#endregion

        //#region  删除在研项目人员
        function DeleteAllResearchers() {
            $.ajax({
                type: "POST",
                url: '/deleteallresearchers',
                data: {
                    id: num,
                },
                success: function (dataBack) {
                    if (dataBack.result == 1) {

                    }
                },
                error: function (error) {

                }
            });

        }
        //#endregion



        //#region  根据项目ID查询所有相关人员
        function SelectInesearchers(num) {
            $.ajax({
                type: "POST",
                url: "/selectinesearchers",
                data: { id: num },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr>';
                        str += '<td style="display:none">' + item.id + '</td>';
                        str += '<td>' + item.departmentname + '</td>';
                        str += '<td>' + item.name + '</td > ';
                        str += '<td>' + (item.sex == false ? "男" : "女") + '</td>';
                        str += '<td>' + item.phone + '</td>';
                        str += '<td>' + item.qq + '</td>';
                        str += '<td>' + item.email + '</td>';
                        if (item.personneltype == "管理员") {
                            str += '<td><input type = "radio" checked  name="permission"  style="height: 15px;"></td>';
                        } else {
                            str += '<td><input type = "radio"  name="permission" style="height: 15px;"></td>';
                        }
                        str += '<td><button class="btn btn-sm btn-warning" onclick=YichuResearchers(' + item.id + ')>移除</td>';
                        str += '</tr>';
                    });
                    $("#infoto").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText);
                }
            })

        }
        //#endregion



        //function ProductsDownload(obj) {
        //    var trstring = '';
        //    if (obj.List.length != 0) {
        //        $(obj.List).each(function (index.item) {
        //            trstring += '<li>' + item.ProductName;
        //            trstring += '<span class="glyphicon glyphicon-hand-right">' + item.ID + '</span>';
        //            trstring += '</li>';
        //        });
        //        $('.h2').html(trstring);
        //    } else {
        //        $('.h2').html("");
        //    }
        //}
        //#region  百度编辑器
        //创建编辑器
        function createEditor() {
            UE.getEditor('editor');
            UE.getEditor('editor').addListener('ready', function (editor) {
            });

        }
        //#endregion
    </script>

</body>
</html>