@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发人员上传</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/InResearchDownload.css" rel="stylesheet" />
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fuild">
        <div class="col-md-3">
            <div class="row">

                <!-- 产品信息 -->
                <ul class="product">
                    <h2 class="h2">在研产品</h2>
                    <li>
                        微信公众号
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        院感
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        排队叫号
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        自助服务系统
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        产品发布系统
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 top">
            <div class="row col-md-12" id="inesearch">
                <!--right-->
                <table border="1" align="center" class="inesearchtable">
                    <tbody>
                        <tr>
                            <th>添加项目</th>
                            <td colspan="4"><input type="text"></td>
                        </tr>
                        <tr>
                            <th>项目名称</th>
                            <td colspan="4"><input type="text"></td>
                        </tr>
                        <tr>
                            <th>项目介绍</th>
                            <td colspan="4"><input type="text"></td>
                        </tr>
                        <tr>
                            <th>开始时间</th>
                            <td colspan="2"><input type="datetime-local"></td>
                            <th>结束时间</th>
                            <td colspan="2"><input type="datetime-local"></td>
                        </tr>
                        <tr>
                            <th>开发部门</th>
                            <td colspan="2">
                                <select name="" id="department">
                                    <option value="">研发组</option>
                                    <option value="">研发组</option>
                                </select>
                            </td>
                            <th>开发人员</th>
                            <td colspan="2">
                                <select name="" id="person">
                                    <option value="">就看见</option>
                                    <option value="">蝶恋蜂狂</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <!--人员信息-->
                <div class="row col-md-10 ff">
                    <table class="table table hover  person-news table-striped table-bordered table-condensed">
                        <thead>
                            <tr class="info">
                                <th style="line-height:40px;">部门</th>
                                <th style="line-height:40px;">姓名</th>
                                <th style="line-height:40px;">性别</th>
                                <th style="line-height:40px;">电话</th>
                                <th style="line-height:40px;">QQ</th>
                                <th style="line-height:40px;">类型</th>
                                <th style="line-height:40px;">操作</th>
                            </tr>
                        </thead>
                        <tbody class="infoto">
                            <tr class="cp">
                                <td>新技术研究中心</td>
                                <td>张三</td>
                                <td>男</td>
                                <td>13312345678</td>
                                <td>13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td>
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                            <tr class="cp">
                                <td>新技术研究中心</td>
                                <td>张三</td>
                                <td>男</td>
                                <td>13312345678</td>
                                <td>13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td>
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                            <tr class="cp">
                                <td>新技术研究中心</td>
                                <td>张三</td>
                                <td>男</td>
                                <td>13312345678</td>
                                <td>13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td>
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                            <tr class="cp">
                                <td style="line-height:30px;">新技术研究中心</td>
                                <td style="line-height:30px;">张三</td>
                                <td style="line-height:30px;">男</td>
                                <td style="line-height:30px;">13312345678</td>
                                <td style="line-height:30px;">13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td style="line-height:30px;">
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                            <tr class="cp">
                                <td style="line-height:30px;">新技术研究中心</td>
                                <td style="line-height:30px;">张三</td>
                                <td style="line-height:30px;">男</td>
                                <td style="line-height:30px;">13312345678</td>
                                <td style="line-height:30px;">13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td style="line-height:30px;">
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                            <tr class="cp">
                                <td style="line-height:30px;">新技术研究中心</td>
                                <td style="line-height:30px;">张三</td>
                                <td style="line-height:30px;">男</td>
                                <td style="line-height:30px;">13312345678</td>
                                <td style="line-height:30px;">13548965</td>
                                <td><input type="radio" name="aa" value="" style="width: 18px;"></td>
                                <td style="line-height:30px;">
                                    <button class="btn btn-sm btn-primary">移除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <!--百度编辑器-->
            <div class="row col-md-12 baidu">
                <br />
                <label>详细内容：</label>
                <script id="editor" type="text/plain" style="width:100%; height:300px;">
                </script>
            </div>
            <!--按钮-->
            <div class="col-md-5 cc">
                <br />
                <button class="btn btn-info col-md-2 col-md-offset-5">保存</button>
                <button class="btn btn-info col-md-2 col-md-offset-5">修改</button>
                <button class="btn btn-info col-md-2 col-md-offset-5">删除</button>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/ueditor/ueditor.config.js"></script>
    <script src="~/lib/ueditor/ueditor.all.js"></script>
    <script src="~/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>
        $(function () {
            GetSelect();
            createEditor();
        });
        //#region 动态添加部门
        function GetSelect() {
            var str = '';
            $.ajax({
                type: 'GET',
                url: '/selectdepartments',
                data: {},
                success: function (dataBack) {
                    var str = '<option value="0">--请选择部门--</option>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<option value="' + item["id"] + '">' + item["departmentname"] + '</option>';
                    });
                    $('#department').html(str);
                    $("#person").html('<option value="0">--请选择开发人员--</option>');
                }
            });
        }
        //#endregion

        //#region 根据部门ID查询开发人员
        function SelectDevelopers(id) {
            $.ajax({
                type: "POST",
                url: '/selectdevelopers',
                data: { departmentID: id },
                success: function (dataBack) {
                    var str = '<option value="0">--请选择开发人员--</option>';
                    $(dataBack.data).each(function (index, item) {
                        str += "<option value=" + item["id"] + ">" + item["name"] + "</option>";
                    });
                    $("#person").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  根据人员ID查询人员信息
        var arrayUser = new Array();
        //根据成员ID添加开发人员
        function SelectDeveloper(id) {
            alert(id)
            var array1 = new Array();
            var tb = $("#selectdeveloper tr");
            tb.each(function () {
                var td = $(this).html();
                var $td = $(td); //将dom对象转化为jquery对象。
                // for (var i = 0; i < $td.length; i++) {
                array1.push($td.eq(0).text());
                // }
            });
            if ($.inArray(id, array1) == -1) {
                $.ajax({
                    type: "POST",
                    url: "/developersid",
                    data: { Id: id },
                    success: function (dataBack) {
                        var str = '';
                        $(dataBack.data).each(function (index, item) {
                            arrayUser.push(item.id);
                            str += '<tr>';
                            str += '<td style="display:none">' + item.id + '</td>';
                            str += '<td>' + item.departmentname + '</td>';
                            str += '<td>' + item.name + '</td > ';
                            str += '<td>' + (item.sex == false ? "男" : "女") + '</td>';
                            str += '<td>' + item.phone + '</td>';
                            str += '<td>' + item.qq + '</td>';
                            str += '<td>' + item.email + '</td>';
                            str += '<td><input type = "radio" name="permission"></td>';
                            str += '<td><button class="btn btn-sm btn-warning" onclick="$(this).parent().parent().remove()">移除</td>';
                            str += '</tr>';
                        });
                        $("#selectdeveloper").append(str);
                    },
                    error: function (error) {
                        alert(error.status + error.statusText)
                    }
                });
            } else {
                alert("不能添加相同人员")

            }

        }
        //#endregion

        //function ProductsDownload(obj) {
        //    var trstring = '';
        //    if (obj.List.length != 0) {
        //        $(obj.List).each(function (index.item) {
        //            trstring += '<li>' + item.ProductName;
        //            trstring += '<span class="glyphicon glyphicon-hand-right">' + item.ID + '</span>';
        //            trstring += '</li>';
        //        });
        //        $('.h2').html(trstring);
        //    } else {
        //        $('.h2').html("");
        //    }
        //}
        //#region  百度编辑器
        //创建编辑器
        function createEditor() {
            UE.getEditor('editor');
            UE.getEditor('editor').addListener('ready', function (editor) {
            });

        }
        //#endregion
    </script>

</body>
</html>