@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在研项目查看</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/InResearchDownload.css" rel="stylesheet" />
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fuild">
        <div class="col-md-3">
            <div class="row">

                <!-- 产品信息 -->
                <div id="divh2" style="cursor: pointer;">
                    <h2>
                        在研产品

                    </h2>
                </div>
                <ul class="product"></ul>
            </div>
        </div>
        <div class="col-md-9 top">
            <div class="row col-md-12" id="inesearch">
                <!--right-->
                <table border="1" align="center" class="inesearchtable">
                    <tbody>

                        <tr>
                            <th>项目名称</th>
                            <td colspan="4"><input type="text" id="projectname" style="padding-left:20px;" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <th>项目介绍</th>
                            <td colspan="4"><input type="text" id="projectintroduction" style="padding-left:20px;" readonly="readonly"></td>
                        </tr>
                        <tr>
                            <th>开始时间</th>
                            <td colspan="2"><input type="text" id="startingtime" style="padding-left:20px;" readonly="readonly"></td>
                            <th>结束时间</th>
                            <td colspan="2"><input type="text" id="endtime" style="padding-left:20px;" readonly="readonly"></td>
                        </tr>
                    </tbody>
                </table>

                <!--人员信息-->
                <div class="row col-md-10 ff">
                    <table class="table table hover  person-news table-striped table-bordered table-condensed">
                        <thead>
                            <tr class="info">
                                <th style="line-height:40px;">部门</th>
                                <th style="line-height:40px;">姓名</th>
                                <th style="line-height:40px;">性别</th>
                                <th style="line-height:40px;">电话</th>
                                <th style="line-height:40px;">QQ</th>
                                <th style="line-height:40px;">邮箱</th>
                                <th style="line-height:40px;">类型</th>
                            </tr>
                        </thead>
                        <tbody id="infoto">
                        </tbody>
                    </table>
                </div>

            </div>
            <!--百度编辑器-->
            <div class="row col-md-12 ">
                <br />
                <label>详细内容：</label>
                <div class="bianjiqi" style="padding-left:20px; padding-top:10px;">

                </div>
            </div>
            <!--按钮-->
            <!--<div class="col-md-5 cc">-->
            <!--<button class="btn btn-info col-md-2 col-md-offset-5">保存</button>-->
            <!--<button class="btn btn-info col-md-2 col-md-offset-5">修改</button>-->
            <!--<button class="btn btn-info col-md-2 col-md-offset-5">删除</button>-->
            <!--</div>-->
        </div>
    </div>
    <script>
        $(function () {

            SelectInesearch();

        });
        //#region  查询在研项目名称
        function SelectInesearch() {
            $.ajax({
                type: "POST",
                url: '/selectinesearch',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<li value="' + item["id"] + '" style="cursor: pointer;"  onclick=GetID(' + item.id + ');>' + item["projectname"];
                        str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                        str += ' <span class="glyphicon glyphicon-hand-right"></span>';
                        str += '</li>';
                    });
                    $(".product").html(str);
                    $(".product li").click(function (event) {
                        $(".product").css({ 'background': 'rgba(0,0,0,0.8)', 'color': '#fff' });
                        $(".product li").css({ 'background': '', 'color': '' });
                        $(this).css({ 'background': '#fff', 'color': '#000' });
                    });
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });
        }
        //#endregion
        function GetID(id) { 
            num = id;
            SelectAllInesearch(num);
            SelectInesearchers(num);
        }
        //#region 查询项目全部信息
        function SelectAllInesearch(num) {
            $.ajax({
                type: "POST",
                url: '/selectesearchid',
                data: { id: num },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        $('#projectname').val(item.projectname);
                        $('#projectintroduction').val(item.projectintroduction);
                        $('#startingtime').val(item.startingtime);
                        $('#endtime').val(item.endtime);
                        $('.bianjiqi').html(item.projectprogress);
                        
                    });

                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });
        }
        //#endregion

        //#region  根据项目ID查询所有相关人员
        function SelectInesearchers(num) {
            $.ajax({
                type: "POST",
                url: "/selectinesearchers",
                data: { id: num },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr>';
                        str += '<td style="display:none">' + item.id + '</td>';
                        str += '<td>' + item.departmentname + '</td>';
                        str += '<td>' + item.name + '</td > ';
                        str += '<td>' + (item.sex == false ? "男" : "女") + '</td>';
                        str += '<td>' + item.phone + '</td>';
                        str += '<td>' + item.qq + '</td>';
                        str += '<td>' + item.email + '</td>';
                        if (item.personneltype == "管理员") {
                            str += '<td  style="color:red">管理员</td>';
                        } else {
                            str += '<td>开发人员</td>';
                        }
                        str += '</tr>';
                    });
                    $("#infoto").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText);
                }
            })

        }
        //#endregion
    </script>
</body>

</html>