*{
	margin:0;
	padding: 0;
}
body{
    padding-top:30px;
	width: 100%;
	min-height: 970px;
	background: url(../images/bg-info.jpg)center no-repeat;
	background-size: 100% 100%;
	font-family: 'Microsoft YaHei';
}
h1{
	text-align: center;
	font-size: 48px
}
h1>span{
	display: inline-block;
	margin-left: 50px;
	font-size: 24px;
	font-weight: 600;
}
.nav{
	font-size: 24px;
}
.nav>.active{
	opacity: 0.5!important;
	
}
#development{
	margin-bottom: 20px;
}
#development>div{
	height: 260px;
}
#development img{
	width: 80%;
	height: 80%;
	border:2px solid #ccc;
}
#development span{
	display: block;
	width: 80%;
	text-align: center;
}
#development .glyphicon{
	display: inline-block;
	width: 18%;
}
#note{
	padding: 100px;
	
}
#note>p,#implementation>p{
	margin:20px auto;
	font-size: 20px;
}
#implementation img{
	width: 80%;
	margin: 50px 10%;
}