* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: #aaa;
    font-size:15px;
}


/*产品列表*/
.product {
    width: 105%;
    padding: 0.5% 0 0;
    background: rgba(0,0,0,0.8);
    height: 920px;
    overflow-y: scroll;
}

    .product > li {
        color: #fff;
        padding: 0 20px;
        font-size: 22px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        overflow: hidden;
        border-radius: 3px;
    }

        .product > li:hover {
            background: #fff;
            color: #000;
        }

        .product > li > span {
            display: block;
            float: right;
        }

    .product .add-product > span {
        position: relative;
        top: 5px;
    }
/*版本列表*/
.version {
    padding: 20px;
    background: rgba(255,255,255,0.8);
    height: 420px;
    overflow-y: scroll;
}

    .version > li {
        color: #000;
        padding: 0 20px;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        overflow: hidden;
        border-radius: 3px;
    }

        .version > li:hover {
            background: #000;
            color: #fff;
        }

        .version > li > span {
            margin-left: 40px;
        }

            .version > li > span:last-child {
                display: block;
                float: right;
            }
/*产品信息*/
.news {
    height: 550px;
    background: rgba(255,255,255,0.8);
    padding: 20px;
}

    .news > div {
        margin-top: 20px;
    }

.download-news {
    text-align: center;
    height: 500px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-top: 10px;
}

    .download-news > li {
        margin-top: 10px;
        padding: 0 20px;
        height: 25px;
        line-height: 25px;
        font-size: 20px;
        border-radius: 3px;
    }

        .download-news > li > a {
            color: #000;
            display: inline-block;
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-decoration: none;
        }

            .download-news > li > a:hover {
                color: #fff;
                background: rgba(0,0,0,0.8);
            }

.person-instructions {
    font-size: 20px;
    font-weight: 900;
    height: 34px;
    line-height: 34px;
}

.table-fd {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.person-news {
    table-layout: fixed;
}

    .person-news tr td, th {
        text-align: center;
        word-wrap: break-word;
    }

.h2 {
    color: #fff;
}

/********************************************/
 
.inesearchtable {
    margin-top: 20px;
    width: 102%;
} 
table {
    width: 100%;
    border: 1px solid #ccc;
}

    table th {
        height: 40px;
        width: 100px;
        border-color: #ccc;
    }
    table .info {
    height:40px;
    } 
    .cp td {
        height: 30px;
    }

    .cp td input {
        height: 15px;
    }

    .cp td button {
        height: 30px;
    }

.top {
    background: #fff;
    height: 980px;
    width:75%;
    overflow: scroll;
}
table input {
    width: 100%;
    height: 35px;
    border: none;
}

table select {
    width: 100%;
    height: 20px;
    border: none;
}
/*人员选择*/
.ff {
    
    overflow-y: scroll;
    margin-top: 20px;
    margin-left: 0px;
    padding: 0 !important;
    border: 1px solid #ccc;
    width: 102%;
    height: 258px;
    /*margin-top: 10px;*/
    /*margin-left:10px;*/
}

.cc {
   
    width: 100%;
    margin-left: -10px;
}

    .cc button {
        margin: 10px;
        width: 60px;
        float: right;
    }

.baidu {
    width: 102%;
}



.bianjiqi {
    width:100%;
    height:500px;
    border:1px solid #ccc;
}
#department {
    height: 35px;
}
#person {
    height: 35px;
}
#divh2 {
    margin-top: -20px;
    padding-top:20px;
    padding-left:10%;
    
    height: 80px;
    line-height:80px;
    /*background-color: #000;*/
    background: rgba(0,0,0,0.8);
    color: #fff;
}
.addid {
margin-left:40%;
}
/*自适应*/
@media screen and (min-width:1280px) {
    table {
        width: 90%;
    }

    select option {
        width: 90%;
    }
}
