<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <style>
        .hong {
           color:red;
        }
    </style>
    <h2 class="hong">无权限</h2>
    <h3 class="hong">你没有权限访问该功能！</h3>
    <h3>No permission</h3>
    <h4>You do not have access to other functions, each page corresponds to the different permissions, find your right page to operate.</h4>
    <script>
        window.history.back;
    </script>
</body>
</html>