@{
    ViewData["Title"] = "Home Page";
}

   
   
@section css{
<link href="~/css/main.css" rel="stylesheet" />
}
<body>
    <div class="container">
        <div class="main">
            <div class="ch"></div>
            <div class="en">
                Product&nbsp;&nbsp;Release&nbsp;&nbsp;System
            </div>
            <div class="img"></div>
        </div>
    </div>
</body>




