@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录页面</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <form method="post" action="/login">
        <div class="container-fuild">
            <div class="login">
                <div class="logo">
                    欢迎登录产品发布系统
                </div>
                <div class="main">
                    <div id="user-name">
                        <span>用户名：</span>
                        <input type="text" name="username" id="username">
                    </div>
                    <div id="user-password">
                        <span>密&nbsp;&nbsp;&nbsp;码：</span>
                        <input type="password" name="password" id="userpassword">
                    </div>
                    <div id="user-error">
                        <p id="usererror">
                        @if (ViewBag.error != null)
                        {
                            <font color="red">@ViewBag.error</font>
                        }
                        </p>
                    </div>
                    <div class="sure-btn">
                        <button>重置</button>
                        <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
                        <button type="submit" onclick="SubmitLogin()">登录</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</body>
</html>

<script src="~/layer/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".sure-btn button:first").click(function (event) {
            $("input").val('');
        });
        
        $("#username").focus(function () {
            $("#usererror").hide();
        });
        $("#userpassword").focus(function () {
            $("#usererror").hide();
        });
        
    });
    function SubmitLogin() {
        if (LoginCleck()) {
        $.ajax({
            type: 'POST',
            url: '/login',
            data: {
                username: $('#username').val(),
                password: $('#userpassword').val()
            },
            success: function (result) {

            },
            error: function (error) {
                alert(error.status + error.statusText);
            }
        });
        }

    }
    //判断输入框是否为空
    function LoginCleck() {
        var str = '';
        if ($("#username").val() == '') {
            str += "用户名不能为空！";
        }
        if ($("#userpassword").val() == '') {
            str += "密码不能为空！"
        }
        if (str != '') {
            layer.msg(str, { icon: 2 });
            return false;
        } else {
            return true;
        }
    }
</script>