@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录页面</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META http-equiv="Expires" content="0">
</head>


<body>
    <form method="post" action="/login" name="form1">
        <div class="container-fuild">
            <div class="login">
                <div class="logo">
                    欢迎登录产品发布系统
                </div>
                <div class="main">
                    <div id="user-name">
                        <span>用户名：</span>
                        <input type="text" name="username" id="username" onkeydown="KeyDown()">
                    </div>
                    <div id="user-password">
                        <span>密&nbsp;&nbsp;&nbsp;码：</span>
                        <input type="password" name="password" id="userpassword" onkeydown="KeyDown()">
                    </div>
                    <div id="user-error">
                        <p id="usererror">
                            @if (ViewBag.error != null)
                            {
                                <font color="red">@ViewBag.error</font>
                            }
                        </p>
                    </div>
                    <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
                    <div class="sure-btn">
                        <button>重置</button>
                        <button id="btnsubmit" type="submit" name="btnsubmit" onclick="ValueCheck()">登录</button>
                    </div>
                </div>
            </div> 
        </div>
    </form>
</body>
</html>

<script src="~/layer/layer.js"></script>
<script type="text/javascript">
    //防止页面后退
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });

    $(function () {
        $(".sure-btn button:first").click(function (event) {
            $("input").val('');
        });
        $("#username").focus(function () {
            $("#usererror").hide();
        });
        $("#userpassword").focus(function () {
            $("#usererror").hide();
        });
    })
    function ValueCheck() {
        $.ajax({
            type: 'POST',
            url: '/login',
            data: {
                username: $('#username').val(),
                password: $('#userpassword').val()
            },
            success: function (result) {

            },
            error: function (error) {
                alert(error.status + error.statusText);
            }
        });
    }

    $("#btnsubmit").click(function () {
        $.ajax({
            type: 'POST',
            url: '/login',
            data: {
                username: $('#username').val(),
                password: $('#userpassword').val()
            },
            success: function (result) {

            },
            error: function (error) {
                alert(error.status + error.statusText);
            }
        });
    })

    function KeyDown() {
        if (event.keyCode == 13) {
            event.returnValue = false;
            event.cancel = true;
            form1.btnsubmit.click();
        }
    }

</script>

