@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发人员上传</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/css/DeveloperUpload.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fuild">
        <div class="col-md-3">
            <div class="row">
                <h2 class="add-product">
                    点击此处添加产品
                    <span class=" glyphicon glyphicon-plus"></span>
                </h2>
                <!-- 产品信息 -->
                <ul class="product"></ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row col-md-12">
                <!-- 版本信息模块 -->
                <span id="hid" style="display:none"></span>
                <span id="hidprojectname" style="display:none"></span>
                <h3 class="add-version">
                    点击此处添加最新版本
                    <span class=" glyphicon glyphicon-plus"></span>
                </h3>
                <ul class="version"></ul>
            </div>
            <div class="row col-md-12">
                <div class="news">
                    <form enctype="multipart/form-data">

                        <div class="row col-md-3 col-md-offset-1">

                            选择需要上传的文件
                            <input type="file" @*multiple="multiple" *@ id="upload-file">

                            <ul id='upload-file-news'></ul>
                        </div>

                    </form>
                    <div class="row col-md-7 col-md-offset-1">
                        <span id="versionID" style="display:none"></span>
                        <div class="row col-md-12">
                            <select id="department" onchange="QueryDevelopers(this.options[this.options.selectedIndex].value);">
                                <option value="0">--请选择部门--</option>
                                <option value="新技术研究中心">新技术研究中心</option>
                                <option value="接口">接口</option>
                            </select>
                            <select id="person" onchange="QueryDeveloper(this.options[this.options.selectedIndex].value);">
                                <option value="0">--请选择开发人员--</option>
                            </select>
                            <button class="btn btn-info btn-sm col-md-offset-3" onclick="addRelatedPersonnels()">保存开发人员信息</button>

                        </div>
                        <div class="row col-md-10 table-fd">
                            <table class="table table hover  person-news table-striped table-bordered table-condensed">
                                <thead>
                                    <tr class="info">
                                        <th style="display:none">编号</th>
                                        <th>部门</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>电话</th>
                                        <th>QQ</th>
                                        <th>邮箱</th>
                                        <th>类型</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="selectdeveloper">
                                    @*<tr>*@
                                    @*<td>新技术研究中心</td>
                                        <td>张三</td>
                                        <td>男</td>
                                        <td>13312345678</td>
                                        <td>13548965</td>
                                        <td><button class="btn btn-sm btn-primary">移除</button></td>*@
                                    @*</tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="submit-news row col-md-2 btn btn-success" onclick="UpFile();">提交</button>

                </div>

            </div>
        </div>
    </div>
    <!-- 产品模态层 -->
    <div class="modal fade" id="prductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">产品信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product-name">产品名：</label>
                        <input type="text" class="form-control" id="product-name" placeholder="此处输入产品名称">
                    </div>
                    <div class="form-group">
                        <label for="product-describe">产品描述：</label>
                        <textarea class="form-control" rows="3" id="product-describe" placeholder="此处输入产品描述"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="close-product">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 版本模态层 -->
    <div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">版本信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="version-no">版本号：</label>
                        <input type="text" class="form-control" id="version-no" placeholder="此处输入版本号">
                    </div>
                    <div class="form-group">
                        <label for="version-date">上传时间：</label>
                        <input type="text" class="form-control" id="version-date" placeholder="此处选择上传时间">
                    </div>
                    <div class="form-group">
                        <label for="upload-name">上传人：</label>
                        <select class="form-control" id="upload-name"></select>
                    </div>
                    <div class="form-group">
                        <label for="version-describe">版本描述：</label>
                        <textarea class="form-control" rows="3" id="version-describe" placeholder="此处输入版本描述"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="close-version">保存</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>

    function checkproductNull() {
        var name = document.getElementById("product-name").value.replace(/[]/g, "");
        var describe = document.getElementById("product-describe").value.replace(/[]/g, "");
        if (name.length == 0 || name == "此处输入产品名称") {
            alert("请输入产品名称！");
            return false;
        }
        else if (describe.length == 0 || describe == "此处输入产品描述") {
            alert("请输入产品描述");
            return false;
        } else {
            return true;

        }
    }

    function checkVersionNull() {
        var name = document.getElementById("version-no").value.replace(/[]/g, "");
        var describe = document.getElementById("version-describe").value.replace(/[]/g, "");
        var uploadName = document.getElementById("upload-name").value;
        if (name.length == 0 || name == "此处输入版本号") {
            alert("请输入版本号");
            return false;
        }
        else if (uploadName == 0) {
            alert("请选择发布人");
            return false;
        }
        else if (describe.length == 0 || describe == "此处输入版本描述") {
            alert("请输入版本描述");
            return false;
        } else {
            return true;
        }

    }

    var array = new Array();

    //查询所有人员信息
    function Querykf() {
        $.ajax({
            type: "GET",
            url: '/getkf',
            data: {},
            success: function (dataBack) {
                var str = '<option value="0">--请选择发布人-</option>';
                $(dataBack.data).each(function (index, item) {
                    str += "<option value=" + item.UserName + ">" + item.UserName + "</option>";
                });
                $("#upload-name").html(str);
            },
            error: function (error) {
                alert(error.status + error.statusText)

            }
        });
    }

    //添加产品
    function AddProdect() {
        if (checkproductNull()) {
            $.ajax({
                type: "Post",
                url: "/addproduct",
                data: { ProductName: $("#product-name").val(), Description: $('#product-describe').val() },
                success: function (dataBack) {
                    QueryProducts();
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }

            });
        }
        // QueryProducts()

    }

    //查询所有文件
    function QueryAllFiles(id) {
        $.ajax({
            type: "GET",
            url: "/queryallfiles",
            data: { id: id },
            success: function (dataBack) {
                var str = '';
                $(dataBack.data).each(function (index, item) {
                    str += '<li>名称：' + item.FileName + '上传时间:' + item.UploadTime + '</li>';
                });
                $("#upload-file-news").html(str);
            },
            error: function (error) {
                alert(error.status + error.statusText)
            }
        });
    }

    //添加相关人员表
    function addRelatedPersonnels() {
        if ($('#versionID').text() != 0) {
                array.length = 0;
            
                deleteRelatedPersonnels();
                var productID = $('#hid').text();
                var versionID = $('#versionID').text();
                var id = $('#selectdeveloper input[type="radio"]:checked').parent().siblings(":first").text();
                var tb = $("#selectdeveloper tr");
                tb.each(function () {
                    var td = $(this).html();
                    var $td = $(td); //将dom对象转化为jquery对象。
                    // for (var i = 0; i < $td.length; i++) {
                    array.push($td.eq(0).text());
                    // }
                })
                if (array.length != 0) {
                $.ajax({
                    type: "POST",
                    url: '/addrp',
                    data: { id: id, idArray: array, productID: productID, versionID: versionID },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            alert("保存成功");
                            QueryRelatedPersonnels();

                        }

                    },
                    error: function (error) {
                        alert(error.status + error.statusText)
                    }
                });
            } else {
                alert("请选择开发人员")
            }
        } else {
            alert("请选择版本进行相关人员添加")
        }
    }


    //根据版本ID删除相关人员信息
    function deleteRelatedPersonnels() {
        var versionID = $('#versionID').text();
        $.ajax({
            type: "POST",
            url: '/deleterelatedpersionnels',
            data: { id: versionID },
            success: function (dataBack) {

            },
            error: function (error) {
                alert(error.status + error.statusText)
            }
        });

    }
     

    //添加版本
    function AddVersion() {
        if ($('#hid').text() != 0) {
            if (checkVersionNull()) {
                $("#upload-name").find("option:selected").val()
                $.ajax({
                    type: "post",
                    url: "/addversion",
                    data: { VersionNumber: $('#version-no').val(), ReleaseTime: $('#version-date').val(), Publisher: $('#upload-name').val(), ProductId: $('#hid').text(), Description: $('#version-describe').val() },
                    success: function (dataBack) {
                        QueryVersions($('#hid').text());

                    },
                    error: function (error) {

                        alert(error.status + error.statusText)
                    }
                });
            }
        } else {
            alert("请选择产品");

        }
    }

    //查询所有项目
    function QueryProducts() {
        $.ajax({
            type: "GET",
            url: '/queryproducts',
            data: {},
            success: function (dataBack) {
                var str = '';
                $(dataBack.data).each(function (index, item) {
                    str += '<li onclick=GetID(\'' + item.ID + '\',\'' + item.ProductName + '\');>'
                    str += item.ProductName
                    str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                    str += '<span class="glyphicon glyphicon-hand-right"></span>';
                    str += '</li>'
                });
                $(".product").html(str);
                $(".product li").on('click', 'li', function (event) {
                });
                $(".product li").click(function (event) {
                    $(".product").css({ 'background': 'rgba(0,0,0,0.8)', 'color': '#fff' });
                    $(".product li").css({ 'background': '', 'color': '' });
                    $(this).css({ 'background': '#fff', 'color': '#000' });

                });


            },
            error: function (error) {
                alert(error.status + error.statusText)

            }
        });

    }
    //按照产品ID获取版本
    function QueryVersions(id) {
        console.log("ID:" + id)
        $.ajax({
            type: "GET",
            url: '/queryversions',
            data: { ProductID: id },
            success: function (dataBack) {
                var str = '';
                $(dataBack.data).each(function (index, item) {
                    str += '<li onclick="GetVersionID(' + item.ID + ');">';
                    str += '<span>' + "产品名：" + item.产品名 + '</span>';
                    str += '<span>' + "版本号：" + item.版本号 + '</span>';
                    str += '<span>' + "发布人：" + item.发布人 + '</span>';
                    str += '<span>' + "发布时间" + item.发布时间 + '</span>';
                    str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                    str += '<span class="glyphicon glyphicon-hand-down"></span>';
                    str += '</li>';
                });
                $(".version").html(str);
                $(".version li").on('click', 'li', function (event) {
                });
                $(".version li").click(function (event) {
                    $(".version").css({ 'background': '#fff', 'color': '#000' });
                    $(".version li").css({ 'background': '', 'color': '' });
                    $(this).css({ 'background': '#000', 'color': '#fff' });
                });
            },
            error: function (error) {
                alert(error.status + error.statusText)

            }
        });

    }

    //上传文件
    function UpFile() {
        if ($('#versionID').text() != 0) {
            var file = $('#upload-file').get(0).files[0];
            var data = new FormData();
            data.append(file.name, file);
            data.append("VersionsID", $('#versionID').text());
            data.append("ProjectName", $('#hidprojectname').text());
            $.ajax({
                type: 'POST',
                url: '/sendfile',
                contentType: false,
                processData: false,
                data: data,
                success: function (dataBack) {
                    alert(dataBack.message);
                    QueryAllFiles($('#versionID').text());
                },
                error: function (error) {

                    alert(error.status + error.statusText)
                }
            });
        } else {
            alert("请选择版本进行上传")

        }

    }

    //点击项目查询所有版本
    function GetID(elem, text) {
        $('#hid').text(elem);
        $('#hidprojectname').text(text);
        QueryVersions(elem);
        QueryAllFiles('');
        $("#selectdeveloper").html('');
    }

    //点击版本给隐藏的span赋值
    function GetVersionID(e) {
        $('#versionID').text(e);
        QueryAllFiles(e);
        QueryRelatedPersonnels();
    }

    $(document).ready(function () {
        document.getElementById("version-date").readOnly = true;
        $('#version-date').datetimepicker({
            timepicker: false,
            format: 'Y-m-d',
            lang: 'ch',
            // 开始年份
            yearStart: 1900,
            // 不默认当前时间
            validateOnBlur: false,
            //阻止滚动鼠标滑轮滑动改变时间
            scrollInput: false
        });
        QueryDepartments();
        /*列表显示上传文件信息*/
        var test = document.getElementById('upload-file');
        test.addEventListener('change', function () {
            var t_files = this.files;
            var na = $("#td")
            var str = '';
            var myDate = new Date();
            for (var i = 0, len = t_files.length; i < len; i++) {
                str += '<li>名称：' + t_files[i].name + '上传时间:' + myDate.toLocaleString() + '</li>';
            };
            document.getElementById('upload-file-news').innerHTML = str;
        }, false);


        //查询所有部门
        function QueryDepartments() {
            $.ajax({
                type: "POST",
                url: '/selectdepartments',
                data: {},
                success: function (dataBack) {
                    var str = '<option value="0">--请选择部门--</option>';
                    $(dataBack.data).each(function (index, item) {
                        str += "<option value=" + item.ID + ">" + item.DepartmentName + "</option>";
                    });
                    $("#department").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });
        }



        /*弹出产品模态层*/
        $(".add-product").click(function (event) {
            $('#prductModal').modal('show');
        });
        /*关闭产品模态层*/
        $("#close-product").click(function (event) {
            $('#prductModal').modal('hide');

            AddProdect();
            QueryProducts();
        });
        /*弹出产品模态层*/
        $(".add-version").click(function (event) {
            $('#versionModal').modal('show');
        });
        /*关闭产品模态层*/
        $("#close-version").click(function (event) {
            $('#versionModal').modal('hide');
            AddVersion();
            QueryVersions($("#hid").text());

        });
        QueryProducts();
        Querykf();
    });

    //根据部门ID查询成员信息
    function QueryDevelopers(id) {

        $.ajax({
            type: "GET",
            url: '/getdevelopers',
            data: { departmentID: id },
            success: function (dataBack) {
                var str = '<option value="0">--请选择开发人员--</option>';
                $(dataBack.data).each(function (index, item) {
                    str += "<option value=" + item.ID + ">" + item.Name + "</option>";
                });
                $("#person").html(str);
            },
            error: function (error) {
                alert(error.status + error.statusText)
            }
        });
    }

    //根据人员ID删除相关人员
    function deleteRp(id) {

        $.ajax({
            type: "POST",
            url: "/deleterp",
            data: { id: id },
            success: function (dataBack) {
                if (dataBack.result == 1) {
                    QueryRelatedPersonnels();
                }
            },
            error: function (error) {
                alert(error.status + error.statusText)

            }
        });

    }


    //根据版本ID查询所有相关人员
    function QueryRelatedPersonnels() {

        var versionID = $('#versionID').text();
        $.ajax({
            type: "GET",
            url: "/queryrelatedpersonnel",
            data: { id: versionID },
            success: function (dataBack) {
                var str = '';
                $(dataBack.data).each(function (index, item) {
                    str += '<tr>';
                    str += '<td style="display:none">' + item.id + '</td>';
                    str += '<td>' + item.DepartmentName + '</td>';
                    str += '<td>' + item.Name + '</td > ';
                    str += '<td>' + (item.Sex == false ? "男" : "女") + '</td>';
                    str += '<td>' + item.Phone + '</td>';
                    str += '<td>' + item.QQ + '</td>';
                    str += '<td>' + item.Email + '</td>';
                    if (item.Personneltype == "管理员") {
                        str += '<td><input type = "radio" checked  name="permission"></td>';
                    } else {
                        str += '<td><input type = "radio"  name="permission"></td>';
                    }
                    str += '<td><button class="btn btn-sm btn-warning" onclick=deleteRp(' + item.id + ')>移除</td>';
                    str += '</tr>';
                });
                $("#selectdeveloper").html(str);
            },
            error: function (error) {
                alert(error.status + error.statusText);
            }
        })

    }

    var arrayUser = new Array();
    //根据成员ID添加开发人员
    function QueryDeveloper(id) {
        var array1 = new Array();
        var tb = $("#selectdeveloper tr");
        tb.each(function () {
            var td = $(this).html();
            var $td = $(td); //将dom对象转化为jquery对象。
            // for (var i = 0; i < $td.length; i++) {
            array1.push($td.eq(0).text());
            // }
        });
        if ($.inArray(id, array1) == -1) {
            $.ajax({
                type: "GET",
                url: "/getDeveloper",
                data: { Id: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        arrayUser.push(item.ID);
                        str += '<tr>';
                        str += '<td style="display:none">' + item.ID + '</td>';
                        str += '<td>' + item.DepartmentName + '</td>';
                        str += '<td>' + item.Name + '</td > ';
                        str += '<td>' + (item.Sex == false ? "男" : "女") + '</td>';
                        str += '<td>' + item.Phone + '</td>';
                        str += '<td>' + item.qq + '</td>';
                        str += '<td>' + item.Email + '</td>';
                        str += '<td><input type = "radio" name="permission"></td>';
                        str += '<td><button class="btn btn-sm btn-warning" onclick="$(this).parent().parent().remove()">移除</td>';
                        str += '</tr>';
                    });
                    $("#selectdeveloper").append(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        } else {
            alert("不能添加相同人员")

        }

    }



</script>
