@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发人员上传</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="~/js/jquery.datetimepicker.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/css/DeveloperUpload.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fuild">
        <div class="col-md-3">
            <div class="row">
                <h2 class="add-product">
                    点击此处添加产品
                    <span class=" glyphicon glyphicon-plus"></span>
                </h2>
                <!-- 产品信息 -->
                <ul class="product">
                    
                    @*<li id="app-4">
                        医院感染管理系统
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        排队叫号
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>
                    <li>
                        微信公众号
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-right"></span>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row col-md-12">
                <!-- 版本信息模块 -->
                <span id="hid" style="display:none"></span>
                <h3 class="add-version">
                    点击此处添加最新版本
                    <span class=" glyphicon glyphicon-plus"></span>
                </h3>
                <ul class="version">
                    @*<li>
                        <span>产品名称：医院感染管理系统</span>
                        <span>版本号：3.0</span>
                        <span>发布人：张三</span>
                        <span>发布时间：2017-05-01</span>
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-down"></span>
                    </li>
                    <li>
                        <span>产品名称：医院感染管理系统</span>
                        <span>版本号：2.0</span>
                        <span>发布人：张三</span>
                        <span>发布时间：2017-05-01</span>
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-down"></span>
                    </li>
                    <li>
                        <span>产品名称：医院感染管理系统</span>
                        <span>版本号：1.0</span>
                        <span>发布人：张三</span>
                        <span>发布时间：2017-05-01</span>
                        <span class="hid"></span>
                        <span class="glyphicon glyphicon-hand-down"></span>
                    </li>*@
                </ul>
            </div>
            <div class="row col-md-12">
                <div class="news">
                    <form enctype="multipart/form-data">

                        <div class="row col-md-5 col-md-offset-1">
                            @* <a class="upload-btn" href="javascript:void(0);">*@
                            选择需要上传的文件
                            <input type="file" @*multiple="multiple" *@ id="upload-file">
                            @*</a>*@
                            <ul id='upload-file-news'></ul>
                        </div>

                    </form>
                    <div class="row col-md-5 col-md-offset-1">
                        <span id="versionID" style="display:none"></span>
                        <div class="row col-md-12">
                            <select id="department">
                                <option value="0">--请选择部门--</option>
                                <option value="新技术研究中心">新技术研究中心</option>
                                <option value="接口">接口</option>
                            </select>
                            <select id="person" disabled="disabled">
                                <option value="0">--请选择开发人员--</option>
                            </select>
                        </div>
                        <div class="row col-md-10 table-fd">
                            <table class="table table hover  person-news table-striped table-bordered table-condensed">
                                <thead>
                                    <tr class="info">
                                        <th>部门</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>电话</th>
                                        <th>QQ</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>新技术研究中心</td>
                                        <td>张三</td>
                                        <td>男</td>
                                        <td>13312345678</td>
                                        <td>13548965</td>
                                        <td><button class="btn btn-sm btn-primary">移除</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <a href="C:\Users\刘行\Source\Repos\HISHelper\HISHelper\ProductReleaseSystem\wwwroot\ERTool.exe">下载</a>
                    <button class="submit-news row col-md-2 btn btn-success" onclick="UpFile();">提交</button>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- 产品模态层 -->
    <div class="modal fade" id="prductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">产品信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product-name">产品名：</label>
                        <input type="text" class="form-control" id="product-name" placeholder="此处输入产品名称">
                    </div>
                    <div class="form-group">
                        <label for="product-describe">产品描述：</label>
                        <textarea class="form-control" rows="3" id="product-describe" placeholder="此处输入产品描述"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="close-product">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 版本模态层 -->
    <div class="modal fade" id="versionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel">版本信息</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="version-no">版本号：</label>
                        <input type="text" class="form-control" id="version-no" placeholder="此处输入版本号">
                    </div>
                    <div class="form-group">
                        <label for="version-date">上传时间：</label>
                        <input type="text" class="form-control" id="version-date" placeholder="此处选择上传时间">
                    </div>
                    <div class="form-group">
                        <label for="upload-name">上传人：</label>
                        <select class="form-control" id="upload-name">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="version-describe">版本描述：</label>
                        <textarea class="form-control" rows="3" id="version-describe" placeholder="此处输入版本描述"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="close-version">保存</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

    <script>
        //添加产品
        function AddProdect() {
            alert($('#product-name').val());
            $.ajax({
                type: "Post",
                url: "/addproduct",
                data: { ProductName: $("#product-name").val(), Description: $('#product-describe').val() },
                success: function (dataBack) {
                    alert(dataBack);
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });

        }
        //添加版本
        function AddVersion() {
            $.ajax({
                type: "post",
                url: "/addversion",
                data: { VersionNumber: $('#version-no').val(), ReleaseTime: $('#version-date').val(), Publisher: $('#upload-name').val(), ProductId:1 /*$('.hid').val()*/, Description: $('#version-describe').val() },
                success: function (dataBack) {
                    alert(dataBack)

                },
                error: function (error) {

                    alert(error.status + error.statusText)
                }
            });

        }
        
        //查询所有项目
        function QueryProducts() {
            $.ajax({
                type: "GET",
                url: '/queryproducts',
                data: {},
                success: function (dataBack) {
                    alert(dataBack.data)
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<li onclick=GetID('+item.ID+');>'
                        str += item.ProductName
                        str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                        str += '<span class="glyphicon glyphicon-hand-right"></span>';
                        str += '</li>'
                    });
                    $(".product").html(str);
                    $(".product li").on('click', 'li', function (event) {
                    });
                    $(".product li").click(function (event) {
                        $(".product").css({ 'background': 'rgba(0,0,0,0.8)', 'color': '#fff' });
                        $(".product li").css({ 'background': '', 'color': '' });
                        $(this).css({ 'background': '#fff', 'color': '#000' });
                    });

                   
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });

        }
        //按照产品ID获取版本
        function QueryVersions(id) {
            
            alert(id);
            
            $.ajax({
                type: "GET",
                url: '/queryversions',
                data: { ProductID: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<li onclick="GetVersionID(' + item.ID + ');">';
                        str += '<span>'+"产品名：" + item.产品名 + '</span>';
                        str += '<span>' + "版本号：" + item.版本号 + '</span>';
                        str += '<span>' + "发布人：" + item.发布人 + '</span>';
                        str += '<span>' + "发布时间" + item.发布时间 + '</span>';
                        str += '<span class="hid" style="display:none">' + item.ID + '</span>';
                        str += '<span class="glyphicon glyphicon-hand-down"></span>';
                        str += '</li>';
                    });
                    $(".version").html(str);
                    $(".version li").on('click', 'li', function (event) {
                    });
                    $(".version li").click(function (event) {
                        $(".version").css({ 'background': '#fff', 'color': '#000' });
                        $(".product li").css({ 'background': '', 'color': '' });
                        $(this).css({ 'background': '#000', 'color': '#fff' });
                    });
                },
                error: function (error) {
                    alert(error.status + error.statusText)

                }
            });

        }

        function UpFile() {
            alert($('#versionID').val())
            var file = $('#upload-file').get(0).files[0];
            var data = new FormData();
            data.append(file.name, file);
            data.append("UploadPeople", 1);
            data.append("VersionsID", $('#versionID').val());
            $.ajax({
                type: 'POST',
                url: '/sendfile',
                contentType: false,
                processData: false,
                data: data,
                success: function (dataBack) {
                    alert(dataBack.message);

                },
                error: function (error) {

                    alert(error.status + error.statusText)
                }
            });

        }


        function GetID(elem) {
            $('#hid').val(elem);
            QueryVersions(elem);
           

        }

        function GetVersionID(e) {
            $('#versionID').val(e);
            alert(e);

        }

        $(document).ready(function () {
            $('#version-date').datetimepicker({
                timepicker: false,
                format: 'Y-m-d',
                lang: 'ch',
                // 开始年份
                yearStart: 1900,
                // 不默认当前时间
                validateOnBlur: false,
                //阻止滚动鼠标滑轮滑动改变时间
                scrollInput: false
            });
            /*列表显示上传文件信息*/
            //var test = document.getElementById('upload-file');
            //test.addEventListener('change', function () {
            //    var t_files = this.files;
            //    var str = '';
            //    var myDate = new Date();
            //    for (var i = 0, len = t_files.length; i < len; i++) {
            //        str += '<li>名称：' + t_files[i].name + '上传时间:' + myDate.toLocaleString() + '上传人：张三</li>';
            //    };
            //    document.getElementById('upload-file-news').innerHTML = str;
            //}, false);


            /*二级联动*/
            // 创建一个二维数组
            var arr = new Array(2);
            arr[0] = ["新技术研究中心", "张三", "李四", "王五"];
            arr[1] = ["接口", "赵六", "钱七", "刘八"];
            $("#department").change(function (event) {
                var val = $(this).val();
                // 获取city的select
                var person = document.getElementById("person");
                // 获取option
                var personOp = person.getElementsByTagName("option");
                // 设置可操作
                person.disabled = false;
                // 先删除，后添加
                for (var i = 0; i < personOp.length; i++) {
                    var op = personOp[i];
                    // 删除option
                    person.removeChild(op);
                    //数组长度发生变化，需处理
                    i--;
                }
                // 遍历
                for (var i = 0; i < arr.length; i++) {
                    //取一维数组
                    var arr1 = arr[i];
                    //取一维数组的第一个值
                    var firstVal = arr1[0];
                    //判断
                    if (firstVal == val) {
                        //遍历
                        for (var j = 1; j < arr1.length; j++) {
                            // 获取城市名
                            var value = arr1[j];
                            // 创建option
                            var optionl = document.createElement("option");
                            // 创建文本
                            var textl = document.createTextNode(value);
                            // 把文本添加到标签
                            optionl.appendChild(textl);
                            //添加到city里面
                            person.appendChild(optionl);
                        }
                    }
                }
            });
            /*弹出产品模态层*/
            $(".add-product").click(function (event) {
                $('#prductModal').modal('show');
            });
            /*关闭产品模态层*/
            $("#close-product").click(function (event) {
                $('#prductModal').modal('hide');
              
                AddProdect();
                QueryProducts();
            });
            /*弹出产品模态层*/
            $(".add-version").click(function (event) {
                $('#versionModal').modal('show');
            });
            /*关闭产品模态层*/
            $("#close-version").click(function (event) {
                $('#versionModal').modal('hide');
                AddVersion();
            });
            QueryProducts();
        });

        $(".product li").on('click', 'li', function (event) {
        });
        $(".product li").click(function (event) {
            $(".product li").css({ 'background': '#000', 'color': '#fff' });
            $(this).css({ 'background': '#0cc', 'color': '#fff' });
        });

    </script>
