@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户协议</title>
    <link href="~/css/UserProtocol.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div id="content">
        <header class="top">
            <h1>大连医卫文件发布系统用户协议</h1>
            <p>Hospital&Information Documentation</p>
        </header>
        <section class="middle">

            <div class="middleBox">
                <h1>感谢您使用大连医卫文件发布系统！</h1>
                <p>
                    请您耐心的浏览以下条例，如果对本协议的任何条例表示异议，您可以选择不使用本系统。当您登录成功之后，不管是浏览内容，还是在本系统上发布任何内容，或者是通过别的方式间接的使用此系统的
                    任何服务和数据行为，都将被视为已无条件接受以下全部条例
                </p>
                <p>
                    若您对本系统的任何条例有异议，请停止使用本系统的任何功能。
                </p>
            </div>

            <div class="middleBox">
                <h1>使用规则</h1>
                <p>
                    1、用户申请成功后，将给予每位用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。
                </p>
                <p>
                    2、用户须对在本系统的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐号导致
                    其他用户误认； 任何机构或个人注册和使
                </p>
                <p>
                    用的互联网用户账号名称，不得有下列情形：<br />
                    （一）违反宪法或法律法规规定的；<br />
                    （二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br />
                    （三）损害国家荣誉和利益的，损害公共利益的；<br />
                    （四）煽动民族仇恨、民族歧视，破坏民族团结的；<br />
                    （五）破坏国家宗教政策，宣扬邪教和封建迷信的；<br />
                    （六）散布谣言，扰乱社会秩序，破坏社会稳定的；<br />
                    （七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br />
                    （八）侮辱或者诽谤他人，侵害他人合法权益的；<br />
                    （九）含有法律、行政法规禁止的其他内容的。<br />
                </p>
            </div>

            <div class="middleBox">
                <h1>关于用户名的管理</h1>
                <p>请勿以党和国家领导人或其他名人的真实姓名、字、号、艺名、笔名、头衔等注册和使用昵 称（如确为本人，需要提交相关证明审核通过方可使用）；</p>
                <p>请勿以国家组织机构或其他组织机构的名称等注册和使用昵称（如确为该机构，需要提交相关证明审核通过方可使用）；</p>
                <p>请勿使用和其他用户相同的用户名；</p>
                <p>请勿使用不文明的词汇当做用户名；</p>
                <p>请勿使用符号当做用户名；</p>
                <p>如发现用户违反以上条例，将被停止使用本系统。</p>
                <p>
                    3、本系统是一个公司内部的需求发布，项目分享，经验分享，方便在外办公的工作人员及开发人员实时浏览项目的系统，用户发布的需求都为公开信息，任何用户
                    都有责任对自己发布的信息承担法律责任，如不想公开此信息，请勿发布在此系统上。
                </p>
                <P>4、用户不能以任何方式利用本系统直接或间接从事违反中国法律，及社会公德的行为，后台人员有权利对违反条例的内容给予删除。</P>
                <p>5、用户不可利用本系统上传，复制，发布如下内容：</p>
                <P>· 反对宪法所确定的基本原则的；</P>
                <p>· 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                <p>· 损害国家荣誉和利益的；</p>
                <p>· 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p>· 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                <p>· 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>· 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                <p>· 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                <p>· 含有法律、行政法规禁止的其他内容的信息。</p>
                <p>
                    6、后台人员有权对用户使用本系统的情况进行检查监督，如用户在使用此系统时违反任何条例，后台人员或其授权人有权利要求用户更改或直接采取必要措施（删除
                    信息，停止用户使用本系统）以减轻用户不正当行为的影响。
                </p>
            </div>

            <div class="middleBox">
                <h1>注意事项</h1>
                <p>（一）此系统为公司内部产品管理平台，请不要上传与私人相关的信息。</p>
                <p>（二）实施工程师在下载产品后的使用过程中发现任何问题，可以从产品下载页面获得产品维护人的联系方式进行咨询（工作时间）。</p>
                <p>（三）请各位用户在使用本系统的任何功能之前仔细阅览相关文档，可以减少工作过程中产生的问题。</p>
                <p>
                    （四）本系统是一个公司内部的需求发布，项目分享，经验分享，方便在外办公的工作人员及开发人员实时浏览项目的系统,请勿将自己的账号信息泄露给他人，以免
                    给公司带来不必要的损失。
                </p>
                <p>（五）在使用过程中如发现本系统有什么不好的地方，请及时反馈给新技术研究中心来进行修复</p>
            </div>

            <div class="middleBox_bottom">
                <p>所有产权均归为大连医卫信息技术有限公司所有</p>
                <p>反馈电话：18003462396（刘靖凯）</p>
            </div>
            <div class="middleBox_img">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back"> <img src="~/images/Demand/facebook_active.png" alt=""> </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <footer class="bottom">Copyright 2017-08-01 大连医卫 New technology research center</footer>
    </div>
    <script>
		//返回顶部
		$(function(){
			$(".ch-info-back img").click(function () {
		        var speed=300;//滑动的速度
		        $('body,html').animate({ scrollTop: 0 }, speed);
		        return false;
			 });
		})
    </script>
</body>
</html>
