@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>产品需求接受</title>
    <!--boot的css-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!--自己的css-->
    <link href="~/css/register_index.css" rel="stylesheet" />
    <link href="~/css/03index.css" rel="stylesheet" />
    <link href="~/css/08index.css" rel="stylesheet" />
    <style type="text/css">
        #fbb6 {
            color: #ffffff;
            word-wrap: break-word;
            margin-left: 110px;
            max-width: 80%;
        }

            #fbb6 span img {
                max-width: 99%;
            }

            #fbb6 p img {
                max-width: 99%;
            }

            #fbb6 p span {
                color: #fff !important;
            }
    </style>
</head>
<!--jquery+boot+ie9以下适配html5的js-->
<!--[if lte IE 9]>
<script type="text/javascript" src="js/html5shiv.min.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
<body>
    <!--上-->
    <div id="top">
        <div class="green">
            <div class="wrap">
                <ul class="ulz lt">
                    <li class="cp lt">产品需求</li>
                </ul>
                <ul class="uly rt">
                    <!--<li class="tp rt"><img src="img/a_03.png" alt=""></li>-->
                    <li class="sub rt"><p>subject:pc</p><p> Publisher：刘靖凯</p><p>date：2017/7/31</p></li>
                    <li class="x rt"><span></span></li>
                    <li class="wx rt">微信公众号 <p>version:1.0.0.0</p> </li>
                </ul>

            </div>
        </div>
    </div>
    <!--左四个钮-->
    <div class="hahaha">
        <ul>
            <li class="a_p"><a href="#"><img src="~/images/Demand/a_07.png" /></a></li>
            <li class="b_p"><a href="javascript:history.go(-1)"><img src="~/images/Demand/a_13.png" /></a></li>
            <li class="c_p"><a href="javascript:void(0);"><img src="~/images/Demand/a_15.png" /></a></li>
            <li class="d_p"><a href="#"><img src="~/images/Demand/a_21.png" /></a></li>
        </ul>
    </div>
    <!--中-->
    <div id="content">
        <div class="msn">
            <div class="pc_top">
                <div class="lt nal">
                    <div class="black">
                        <span>基本信息</span>
                        <p><img src="~/images/Demand/1.png" alt="" style="margin-top: -13px;" /></p>
                    </div>
                    <div class="news">
                        <ul class=" fbb" id="fbb1">
                            @*<li class="lt">发布人：刘先生</li>
                                <li class="lt" style="width:26%;">发布时间：2014-5-8</li>
                                <li class="lt">邮箱：12345678@123.com</li>*@
                        </ul>

                        <ul class="bbf" id="fbb2">
                            @*<li class="lt">QQ：13456789</li>
                                <li class="lt">交付部门：新技术研究中心</li>
                                <li class="lt">优先级：A</li>*@
                        </ul>
                        <ul class="bbf" id="fbb3">
                            @*<li class="lt">QQ：13456789</li>
                                <li class="lt">交付部门：新技术研究中心</li>
                                <li class="lt">优先级：A</li>*@
                        </ul>
                    </div>
                </div>

            </div>
            <div class="pc_top sobsd">
                <div class="lt nal">
                    <div class="black">
                        <span>院方信息</span>
                        <p><img src="~/images/Demand/1.png" alt="" style="margin-top: -13px;" /></p>
                    </div>
                    <div class="news">
                        <ul class=" fbb" id="fbb4">
                            @*<li class="lt">医院名称：眼科医院</li>
                                <li class="lt">院方联系人名称：安不上</li>
                                <li class="lt">联系电话：13212121212</li>*@
                        </ul>
                        <ul class="bbf" id="fbb5">
                            @*<li class="lt">所在地：大连大连</li>*@
                        </ul>
                    </div>
                </div>

            </div>
            <div class="pc_top sobsd three">
                <div class="lt nal">
                    <div class="black">
                        <span>详细需求</span>
                        <p><img src="~/images/Demand/1.png" alt="" style="margin-top: -13px;" /></p>
                    </div>
                    <div class="news" id="fbb6">
                        @*<ul class=" fbb">
                                <li class="lt asdf">医院名称：眼科医院</li>
                                <li class="lt asdf">院方联系人名称：安不上</li>
                                <li class="lt asdf">联系电话：13212121212</li>
                                <li class="lt asdf">
                                    雷姆 - "Re:从零开始的异世界生活"中的人物 免费编辑 修改义项名
                                    所属类别 : 动漫人物
                                    雷姆，轻小说《Re：从零开始的异世界生活》及其衍生作品的主要角色，在罗兹沃尔的宅邸中一手担当全部杂务的双胞胎女仆中的
                                    妹妹，小时候家人被魔女教所杀，姐姐角被斩断，从而憎恨魔女教，初识昴因其身上有魔女气味不待见昴，之后解开误会被昴拯救，
                                    认定昴是她的英雄，一心一意的相信并照顾昴，看似毒舌冷漠，其实内心很坚强，很温柔。
                                    2016年斩获第二届bilibili人气大赏活动日漫区萌王(女子组第一名) 雷姆，轻小说《Re：从零开始的异世界生活》及其衍生作品的主要角色，在罗兹沃尔的宅邸中一手担当全部杂务的双胞胎女仆中的
                                    妹妹，小时候家人被魔女教所杀，姐姐角被斩断，从而憎恨魔女教，初识昴因其身上有魔女气味不待见昴，之后解开误会被昴拯救，
                                    认定昴是她的英雄，一心一意的相信并照顾昴，看似毒舌冷漠，其实内心很坚强，很温柔。
                                    2016年斩获第二届bilibili人气大赏活动日漫区萌王(女子组第一名)
                                </li>
                                <li class="lt asdf"><img src="~/images/Demand/q_03.png" /></li>
                            </ul>*@

                    </div>
                </div>

            </div>
            <div class="pc_top sobsd three" id="fbbb1" style="display:none">
                <div class="lt nal">
                    <div class="black">
                        <span>人员意见</span>
                        <p><img src="~/images/Demand/1.png" alt="" style="margin-top: -13px;" /></p>
                    </div>
                    <div class="news" id="fbbb2">
                        @*<ul class=" fbb">
                                <li class="lt asdf">医院名称：眼科医院</li>
                                <li class="lt asdf">院方联系人名称：安不上</li>
                                <li class="lt asdf">联系电话：13212121212</li>
                                <li class="lt asdf">
                                    雷姆 - "Re:从零开始的异世界生活"中的人物 免费编辑 修改义项名
                                    所属类别 : 动漫人物
                                    雷姆，轻小说《Re：从零开始的异世界生活》及其衍生作品的主要角色，在罗兹沃尔的宅邸中一手担当全部杂务的双胞胎女仆中的
                                    妹妹，小时候家人被魔女教所杀，姐姐角被斩断，从而憎恨魔女教，初识昴因其身上有魔女气味不待见昴，之后解开误会被昴拯救，
                                    认定昴是她的英雄，一心一意的相信并照顾昴，看似毒舌冷漠，其实内心很坚强，很温柔。
                                    2016年斩获第二届bilibili人气大赏活动日漫区萌王(女子组第一名) 雷姆，轻小说《Re：从零开始的异世界生活》及其衍生作品的主要角色，在罗兹沃尔的宅邸中一手担当全部杂务的双胞胎女仆中的
                                    妹妹，小时候家人被魔女教所杀，姐姐角被斩断，从而憎恨魔女教，初识昴因其身上有魔女气味不待见昴，之后解开误会被昴拯救，
                                    认定昴是她的英雄，一心一意的相信并照顾昴，看似毒舌冷漠，其实内心很坚强，很温柔。
                                    2016年斩获第二届bilibili人气大赏活动日漫区萌王(女子组第一名)
                                </li>
                                <li class="lt asdf"><img src="~/images/Demand/q_03.png" /></li>
                            </ul>*@

                    </div>
                </div>

            </div>
            <div class="pc_top sobsd three">
                <!--<div class="lt nal">
                    <div class="black">
                        <span>新增or修该需求</span>
                        <p><img src="img/1.png" alt="" style="margin-top: -13px;"></p>
                    </div>
                    <div class="news">
                       <div class="pig_inp">
                               <ul style=" margin:0 auto;">
                                   <li >
                                       <img src="img/a_17.png" class="im" alt=""><span class="span_1">修该新增目的<a></a></span>
                                       <input type="text" name="" class="inpp" placeholder="必填：请输入新增活修改的目的">
                                   </li>
                               </ul>
                       </div>
                    </div>
                    <div class="foot">
                        <p>新增或修改内容（ 慎重！）</p>-->
                <!--框-->
                <!--<form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="12" placeholder="请输入要增加或者修改的内容"></textarea>
                    </div>
                </form>-->
                <!--button-->
                <div class="why ">
                    <ul class="momo-0 mosd">
                        <li><button class="rt btn btn-primary btn-lg sbut" data-toggle="modal" data-target="#myMoal">接&nbsp;&nbsp;受</button></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    </div>

    </div>
    <div class="modal fade" id="myMoal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModaal">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否接受本条需求？</h3>
                        </div>
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group"  style="overflow:hidden;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-10">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control ">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Confirmed()">
                        是
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="haha">
        <ul>
            <li class="def"><a href="#"> <img src="~/images/Demand/a_60.png" /></a></li>
            <li class="abc"><a href="#"><img src="~/images/Demand/a_55.png" /></a></li>
        </ul>
    </div>
    <!--下-->
    <div id="sos">
        <ul class="uubb">
            <li class="lt"><a href="#">帮助中心</a></li>
            <li class="lt"><a href="#">关于我们</a></li>
            <li class="lt"><a href="#">注意事项</a></li>
            <br>
        </ul>
        <p class="pp_1 pp_2"> Copyright 2017-08-01 大连医卫 New technology research center</p>

    </div>
    <div class="modal fade" id="myMsso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myMod">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否删除内容？</h3>
                        </div>
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group"  style="overflow:hidden;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-10">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control ">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        是
                    </button>
                    <button type="button" class="btn btn-primary">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/layer/layer.js"></script>
    <script type="text/javascript">
        var thisURL = document.URL;
        var getjieshouval = thisURL.split('?')[1];
        if (getjieshouval != null) {
            var showjieshouval = getjieshouval.split("=")[1];
        }
        $(function () {
            QueryDetailedRequirements();
            QueryOpinion();
        })

        //查询需求详细信息
        function QueryDetailedRequirements() {
            $.ajax({
                type: "POST",
                url: "/querydetailedrequirements",
                data: { id: showjieshouval },
                success: function (dataBack) {
                    var str = "";
                    var str1 = "";
                    var str2 = "";
                    var str4 = "";
                    var str5 = "";
                    var str6 = "";
                    $(dataBack.data).each(function (index, item) {
                        str += " <li class='lt' style='width:30%;'>标题：" + item.标题 + "</li>";
                        str += "<li class='lt' style='width:30%;'> 电话：" + item.电话 + "</li >";
                        str += " <li class='lt' > 发布人：" + item.发布人姓名 + "</li >";

                        str1 += "<li class='lt' style='width:30%;'>发布时间：" + item.发布时间 + "</li>";
                        str1 += "<li class='lt' style='width:30%;'>邮箱：" + item.Email + "</li >";
                        str1 += "<li class='lt'>QQ：" + item.QQ + "</li>";

                        str2 += "<li class='lt' style='width:30%;'> 优先级：" + item.优先级 + "</li >";
                        str2 += "<li class='lt' style='width:30%;'>交付部门：" + item.交付部门 + "</li>";


                        str4 += "<li class='lt' style='width:30%;'>医院名称：" + item.医院名称 + "</li>";
                        str4 += "<li class='lt' style='width:30%;'>院方联系人名称：" + item.提出者姓名 + "</li >";
                        str4 += "<li class='lt'>联系电话：" + item.医院联系方式 + "</li>";

                        str5 += "<li class='lt'>所在地：" + item.医院地址 + "</li>";

                        str6 += item.详细需求;
                    })
                    $("#fbb1").html(str);
                    $("#fbb2").html(str1);
                    $("#fbb3").html(str2);
                    $("#fbb4").html(str4);
                    $("#fbb5").html(str5);
                    $("#fbb6").html(str6);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            })
        }

        //查询人员意见
        function QueryOpinion() {
            $.ajax({
                type: "POST",
                url: "/queryopinion",
                data: { id: showjieshouval },
                success: function (dataBack) {
                    if (dataBack.data != "") {
                        $("#fbbb1").css("display", "block");
                        var str = "";
                        $(dataBack.data).each(function (index, item) {
                            str += "<ul class='fbb'>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px; width:30%'>目的：" + item.目的 + "</li>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px; width:30%'>发起人姓名：" + item.发起人姓名 + "</li>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px;'>电话：" + item.电话 + "</li>";
                            str += "</ul>";
                            str += "<ul class='fbb' style='last-style:none'>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px;width:30%'>QQ：" + item.QQ + "</li>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px;width:52%'>发起时间：" + item.发起时间 + "</li>";
                            str += "<li class='lt asdf' style='font- size:18px; padding - top:20px;margin-top:20px;max-width:94%;width:100%;word-wrap: break-word;'>内容：" + item.详细 + "</li>";
                            if (index < dataBack.data.length - 1) {
                                str += "<li class='lt asdf' style='border:1px dashed #c3c3c3;width:70%;height:1px;margin-top:20px;margin-bottom:10px;margin-left:90px'></li>";
                            }
                            str += "</ul>";
                        })
                        $("#fbbb2").html(str);
                    }
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            })
        }

        //#region  修改需求状态为已确认
        function Confirmed() {
            alert(123);
            $.ajax({
                type: "POST",
                url: "/confirmed",
                data: {
                    Status: "已确认",
                    ID: showjieshouval
                },
                success: function (dataBack) {
                    if (dataBack.result == 1) {
                        layer.msg(dataBack.message, { icon: 1 });
                    }
                },
                error: function (error) {
                    layer.msg(dataBack.message, { icon: 2 });
                }
            });
        }
        //#endregion
    </script>
</body>
</html>