@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>产品需求</title>
    <!--boot的css-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!--自己的css-->
    <link href="~/css/productdemand.css" rel="stylesheet" />
</head>
<body>
    <!--上-->
    <div id="top">
        <div class="green">
            <div class="wrap">
                <ul class="ulz lt">
                    <li class="cp lt">产品需求</li>
                </ul>
                <ul class="uly lt" style="width:70%">
                    <li style="color:#fff;float:left;margin-top:35px;margin-left:20px"><p>Publisher：<span id="demandname">@User.Identity.Name</span></p><p>date：<span id="shijiandata">2017/7/31</span></p></li>
                    <li class="shd rt">
                        <span style="cursor:pointer">
                            <img src="~/images/Demand/fd_03.png" alt="" class="fdj" />
                            搜&nbsp;&nbsp;索
                        </span>
                        <input type="text" class="texxx" placeholder="请输入要搜索的内容">

                    </li>
                </ul>
            </div>
        </div>
        <!--点击按钮-->
        <div class="why momo">
            <ul class="momo-0">
                <li><a href="http://localhost:61110/demand"><button class="lt btn btn-primary btn-lg" data-toggle="modal">新增</button></a></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <li><button class="lt btn btn-primary" data-toggle="modal" data-target="#myMssoReview">审核通过</button></li>
            </ul>
            <ul class="momo-1" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-2" style="display:none ;">
                <!--<li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>-->
                <!--<li><button class="btn btn-primary lt">删除</button></li>-->
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-3" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>
                <li><button class="btn btn-primary lt btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-4" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
            </ul>
            <ul class="momo-5" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myYuan">还原</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMssoDelete">删除</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMos">清空</button></li>
            </ul>
        </div>
    </div>
    <!--模态框 点击新增-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加产品
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <label for="inputEmail3" class="col-sm-2 control-label">添加产品</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="请输入名称">
                            </div>
                        </div>
                        <div class="form-group" style="overflow:hidden;">
                            <label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>
                            <div class="col-xs-10">
                                <select class="form-control ">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框 点击还原-->
    <div class="modal fade" id="myYuan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否还原内容？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Reduction()">
                        是
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--删除-->
    <div class="modal fade" id="myMsso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMod">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否删除内容？</h3>
                        </div>
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group"  style="overflow:hidden;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-10">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control ">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteStatus()">
                        是
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--垃圾箱删除数据-->
    <div class="modal fade" id="myMssoDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMod">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否删除内容？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteData()">
                        是
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--确认审核通过模态层-->
    <div class="modal fade" id="myMssoReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMod">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否要审核通过该需求？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Review()">
                        是
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框 点击清空-->
    <div class="modal fade" id="myMos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMooo">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否清空内容？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        是
                    </button>
                    <button type="button" class="btn btn-primary">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--left content-->
    <div class="nav lt">
        <ul class="nav_ui">
            <li style="background:#293335"><a href="#" class="momo-js" id="quanbu" onclick="QueryProducts()">查看全部</a></li>
            <li><a href="#" class="momo-js" id="fabu" onclick="InsertUser()">我发布的</a></li>
            <li><a href="#" class="momo-js" id="wanchegn" onclick="CarryOutProducts()">已完成的</a></li>
            <!--<li><a href="#">添加产品</a></li>-->
            <li><a href="#" class="momo-js" id="zhikan" onclick="JustlookProducts()">只看产品</a></li>
            <li><a href="#" class="momo-js" id="caogao">草稿箱</a></li>
            <li><a href="#" class="momo-js" id="laji" onclick="DeleteQueryProducts()">垃圾箱</a></li>
        </ul>
    </div>
    <!--right_content-->
        <div class="right_content">
            <!-- 查看全部-->
            <div class="tabb ss1" style="display: none">
                <table id="table1" class="table table-hover" style=" color: #ccc;">
                    @*<thead>
                            <tr>
                                <th><input type="checkbox"><span></span>标题</th>
                                <th><span></span>优先级</th>
                                <th></th>
                                <th><span></span>发布人</th>
                                <th><span></span>审核状态</th>
                                <th><span></span>发布时间</th>

                            </tr>
                        </thead>*@
                    @*<thead>
                            <tr>
                                <th>微信公众号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tr>
                            <td><input type="checkbox">微信公众号收费</td>
                            <td>aaaa</td>
                            <td></td>
                            <td>地球求</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>门诊挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">门诊挂号</td>
                            <td>sssss</td>
                            <td></td>
                            <td>你是谁</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>预约挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">预约挂号挂号</td>
                            <td>dddddd</td>
                            <td></td>
                            <td>走开</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>药物挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">药物挂号</td>
                            <td>ffffff</td>
                            <td></td>
                            <td>你该吃药了兄弟</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>服务号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">呜呜挂号</td>
                            <td>ggga</td>
                            <td></td>
                            <td>挂你妹</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>眼科挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>jiangj</td>
                            <td></td>
                            <td>验验验验验验验</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>aaaadddd</td>
                            <td></td>
                            <td>啊啊啊啊啊啊啊啊</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>别再说</td>
                            <td></td>
                            <td>eeeeeeee</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>微信公众号挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">微信公众号挂号</td>
                            <td>a折磨a</td>
                            <td></td>
                            <td>娃娃娃娃女</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>*@
                </table>
            </div>
            <!-- 我发布的-->
            <div class="tabb ss2" style="display: none">
                <table id="tablefb" class="table table-hover" style=" color: #ccc; ">
                    @*<thead>
                            <tr>
                                <th><input type="checkbox"><span></span>标题</th>
                                <th><span></span>优先级</th>
                                <th></th>
                                <th><span></span>发布人</th>
                                <th><span></span>审核状态</th>
                                <th><span></span>发布时间</th>

                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>微信公众号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>
                        <tr>
                            <td><input type="checkbox">微信公众号收费</td>
                            <td>aaaa</td>
                            <td></td>
                            <td>地球求</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>门诊挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">门诊挂号</td>
                            <td>sssss</td>
                            <td></td>
                            <td>你是谁</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>预约挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">预约挂号挂号</td>
                            <td>dddddd</td>
                            <td></td>
                            <td>走开</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>药物挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">药物挂号</td>
                            <td>ffffff</td>
                            <td></td>
                            <td>你该吃药了兄弟</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>服务号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">呜呜挂号</td>
                            <td>ggga</td>
                            <td></td>
                            <td>挂你妹</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>眼科挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>jiangj</td>
                            <td></td>
                            <td>验验验验验验验</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>aaaadddd</td>
                            <td></td>
                            <td>啊啊啊啊啊啊啊啊</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">眼科挂号</td>
                            <td>别再说</td>
                            <td></td>
                            <td>eeeeeeee</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>
                        <thead>
                            <tr>
                                <th>微信公众号挂号（20条）</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox">微信公众号挂号</td>
                            <td>a折磨a</td>
                            <td></td>
                            <td>娃娃娃娃女</td>
                            <td>未通过</td>
                            <td>2017/8/7</td>
                        </tr>*@
                </table>
            </div>
            <!-- 已完成的-->
            <div class="tabb ss3" style="display: none">
                <table id="carryout" class="table table-hover" style=" color: #ccc; ">
                    <thead>
                        <tr>
                            <th><input type="checkbox"><span></span>标题</th>
                            <th><span></span>优先级</th>
                            <th></th>
                            <th><span></span>发布人</th>
                            <th><span></span>审核状态</th>
                            <th><span></span>发布时间</th>

                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>微信公众号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号收费</td>
                        <td>aaaa</td>
                        <td></td>
                        <td>地球求</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>门诊挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">门诊挂号</td>
                        <td>sssss</td>
                        <td></td>
                        <td>你是谁</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>预约挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">预约挂号挂号</td>
                        <td>dddddd</td>
                        <td></td>
                        <td>走开</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>药物挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">药物挂号</td>
                        <td>ffffff</td>
                        <td></td>
                        <td>你该吃药了兄弟</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>服务号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">呜呜挂号</td>
                        <td>ggga</td>
                        <td></td>
                        <td>挂你妹</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>眼科挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>jiangj</td>
                        <td></td>
                        <td>验验验验验验验</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>aaaadddd</td>
                        <td></td>
                        <td>啊啊啊啊啊啊啊啊</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>别再说</td>
                        <td></td>
                        <td>eeeeeeee</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>微信公众号挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号挂号</td>
                        <td>a折磨a</td>
                        <td></td>
                        <td>娃娃娃娃女</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                </table>
            </div>
            <!--只看产品-->
            <div class="tabb ss4" style="display:none">
                <table id="tablezkcp" class="table table-hover" style="color: #ccc">
                    @*<thead>
                            <tr>
                                <th><input type="checkbox"><span></span>标题</th>
                                <!--<th><span></span>优先级</th>-->
                                <!--<th></th>-->
                                <th><span></span>发布人</th>
                                <!--<th><span></span>审核状态</th>-->
                                <th><span></span>发布时间</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th><input type="checkbox" style="margin-right: 8px;">微信公众号（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>

                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">微信公众号收费</td>-->
                        <!--<td>地球求</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th> <input type="checkbox" style="margin-right: 8px;">门诊挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">门诊挂号</td>-->
                        <!--<td>你是谁</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th> <input type="checkbox" style="margin-right: 8px;">预约挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">预约挂号挂号</td>-->
                        <!--<td>走开</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th>  <input type="checkbox" style="margin-right: 8px;">药物挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">药物挂号</td>-->
                        <!--<td>你该吃药了兄弟</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th><input type="checkbox" style="margin-right: 8px;">服务号&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">呜呜挂号</td>-->
                        <!--<td>挂你妹</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th><input type="checkbox" style="margin-right: 8px;">眼科挂号 &nbsp;&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <!--<tr>-->
                        <!--<td><input type="checkbox">眼科挂号</td>-->
                        <!--<td>验验验验验验验</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td><input type="checkbox">眼科挂号</td>-->
                        <!--<td>啊啊啊啊啊啊啊啊</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td><input type="checkbox">眼科挂号</td>-->
                        <!--<td>eeeeeeee</td>-->
                        <!--<td>未通过</td>-->
                        <!--<td>2017/8/7</td>-->
                        <!--</tr>-->
                        <thead>
                            <tr>
                                <th><input type="checkbox" style="margin-right: 8px;">微信公众号挂号&nbsp;（20条）</th>
                                <th></th>
                                <th></th>
                                <!--<th></th>-->
                                <!--<th></th>-->
                                <!--<th></th>-->
                            </tr>
                        </thead>*@
                    <!--<tr>-->
                    <!--<td><input type="checkbox">微信公众号挂号</td>-->
                    <!--<td>娃娃娃娃女</td>-->
                    <!--<td>未通过</td>-->
                    <!--<td>2017/8/7</td>-->
                    <!--</tr>-->
                </table>
            </div>
            <!--草稿箱-->
            <div class="tabb ss5" style="display: none">
                <table class="table table-hover" style="color: #ccc">
                    <thead>
                        <tr>
                            <th><input type="checkbox"><span></span>标题</th>

                            <th><span></span>发布时间</th>

                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>微信公众号（20条）</th>
                            <th></th>

                        </tr>

                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号收费</td>
                        <td>aaaa</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>门诊挂号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">门诊挂号</td>
                        <td>sssss</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>预约挂号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">预约挂号挂号</td>
                        <td>dddddd</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>药物挂号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">药物挂号</td>
                        <td>ffffff</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>服务号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">呜呜挂号</td>
                        <td>ggga</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>眼科挂号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>jiangj</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>aaaadddd</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>别再说</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>微信公众号挂号（20条）</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号挂号</td>
                        <td>a折磨a</td>
                    </tr>
                </table>
            </div>
            <!--垃圾箱-->
            <div class="tabb ss6" style="display:none">
                <table id="ljxtable" class="table table-hover" style="color: #ccc">
                    <thead>
                        <tr>
                            <th><input type="checkbox"><span></span>标题</th>
                            <th><span></span>优先级</th>
                            <th></th>
                            <th><span></span>发布人</th>
                            <th><span></span>审核状态</th>
                            <th><span></span>发布时间</th>

                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>微信公众号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号收费</td>
                        <td>aaaa</td>
                        <td></td>
                        <td>地球求</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>门诊挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">门诊挂号</td>
                        <td>sssss</td>
                        <td></td>
                        <td>你是谁</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>预约挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">预约挂号挂号</td>
                        <td>dddddd</td>
                        <td></td>
                        <td>走开</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>药物挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">药物挂号</td>
                        <td>ffffff</td>
                        <td></td>
                        <td>你该吃药了兄弟</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>服务号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">呜呜挂号</td>
                        <td>ggga</td>
                        <td></td>
                        <td>挂你妹</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>眼科挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>jiangj</td>
                        <td></td>
                        <td>验验验验验验验</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>aaaadddd</td>
                        <td></td>
                        <td>啊啊啊啊啊啊啊啊</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>别再说</td>
                        <td></td>
                        <td>eeeeeeee</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>微信公众号挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号挂号</td>
                        <td>a折磨a</td>
                        <td></td>
                        <td>娃娃娃娃女</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                </table>
            </div>
        </div>
    @*<button onclick="check()">lalalall</button>*@
    <!--最下-->
    <div id="sos" style="text-align:center">
        <div class="whyy">
            <div class="rt">
                <ul class="uis">
                    <li class="lt"><a href="#">1/8页</a></li>
                    <li class="lt"><a href="#">下一页</a></li>
                    <li class="lt"><input type="text"></li>
                    <li class="lt"><a href="#">跳 转</a></li>
                </ul>
            </div>
        </div>
        <ul class="uubb">
            <li style="line-height:50px;display:inline-block"><a href="#">帮助中心</a></li>
            <li style="line-height:50px;display:inline-block"><a href="#">关于我们</a></li>
            <li style="line-height:50px;display:inline-block"><a href="#">注意事项</a></li>
            <br>
        </ul>
        <p class="pp_1 pp_2"> Copyright 2017-08-01 大连医卫 New technology research center</p>

    </div>
    <script language="javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/Paging.js"></script>
    <script src="~/js/productdemand.js"></script>
    <script src="~/layer/layer.js"></script>
    <script language="javascript">
        $(function () {
            $(".nav_ui li").click(function (event) {
                $(".nav_ui li").css({ 'background': '', 'color': '' });
                $(this).css({ 'background': '#293335', 'color': '#000' });
            });
            datetime();
            QueryProducts();
        });
        //$("#CheckAll").click(function () {
        //    alert(123123);
        //    $('input[name="check"]').prop('checked', 'true');
        //});
        //function check() {
        //    alert(123);
        //    var checkbox = document.getElementById("CheckAll");
        //    $('input[name="check"]').prop('checked', 'true');
        //    alert(checkbox);
        //}

        //#region 获取当前时间
        var date = (new Date()).getTime();
        function datetime() {
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth();
            var day = now.getDate();
            var hour = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            var tolocalestring = now.toLocaleTimeString();
            $("#shijiandata").html("" + year + "/" + (month + 1) + "/" + day + "");
        }
        //#endregion

        //#region  通过名称查询ID
        var ID;
        var Character;
        function InsertUser() {

            $.ajax({
                type: "POST",
                url: "/selectchaxun",
                data: { name: $("#demandname").text() },
                success: function (dataBack) {
                    $(dataBack.data).each(function (index, item) {
                        ID = item.id;
                    });
                    SelectDemand(ID);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  添加产品
        function QueryProducts() {
            $.ajax({
                type: "GET",
                url: '/queryselectproducts',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    str += '<thead>';
                    str += '<tr>';
                    str += '<th><input type="checkbox"><span></span>标题</th>';
                    str += ' <th><span></span>优先级</th>';
                    str += ' <th></th>';
                    str += '<th><span></span>发布人</th>';
                    str += '<th><span></span>审核状态</th>';
                    str += '<th><span></span>发布时间</th>';
                    str += '</tr>';
                    str += '</thead>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<thead id="' + item["Id"] + '" value="' + item["Id"] + '">';
                        str += '<tr>';
                        str += '<th id="a' + item["Id"] + '">' + item["ProductName"] + '</th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '</tr>';
                        str += '</thead>';
                        QueryRequestByProductId(item["Id"]);   //获得产品ID查询需求信息
                        QueryRequestCount(item["Id"]);   //获得产品ID查询需求条数
                    });
                    $("#table1").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  通过产品ID查询需求信息
        function QueryRequestByProductId(id) {
            $.ajax({
                type: "POST",
                url: '/queryrequestbyproductid',
                data: { id: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr value="' + item["Id"] + '">';
                        str += '<td><input type="checkbox" value="' + item["Id"] + '">' + item["DemandNname"] + '</td>';
                        str += ' <td>' + item["Priority"] + '</td>';
                        str += ' <td></td>';
                        str += '<td>' + item["Name"] + '</td>';
                        str += '<td>' + item["status"] + '</td>';
                        str += '<td>' + item["MakeTime"] + '</td>';
                        str += " </tr>";
                    });
                    $("#" + id + "").append(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  通过产品ID查询需求条数
        function QueryRequestCount(id) {
            $.ajax({
                type: "POST",
                url: '/queryrequestcount',
                data: { id: id },
                success: function (dataBack) {
                    $("#a" + id + "").append("（" + dataBack.data + "条）");
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion



        //#region 查询我发布的
        function SelectDemand(ID) {
            $.ajax({
                type: "POST",
                url: '/selectdemand',
                data: {
                    id: ID
                },
                success: function (dataBack) {
                    var str = '';
                    str += '<thead>';
                    str += '<tr>';
                    str += '<th><input type="checkbox"><span></span>标题</th>';
                    str += ' <th><span></span>优先级</th>';
                    str += ' <th></th>';
                    str += '<th><span></span>发布人</th>';
                    str += '<th><span></span>审核状态</th>';
                    str += '<th><span></span>发布时间</th>';
                    str += '</tr>';
                    str += '</thead>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<thead id="fb' + item["id"] + '" value="' + item["id"] + '">';
                        str += '<tr>';
                        str += '<th id="afb' + item["id"] + '">' + item["productname"] + '</th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '</tr>';
                        str += '</thead>';
                        QueryRequestById(item["id"], ID);   //获得产品ID查询需求信息
                        QueryfbCount(item["id"], ID);   //获得产品ID查询需求条数
                    });
                    $("#tablefb").html(str);
                },
                error: function (error) {
                    layer.msg(dataBack.message, { icon: 2 });
                }
            });
        }
        //#endregion

        //#region  通过产品ID查询需求信息（我发布的）
        function QueryRequestById(id, ID) {
            $.ajax({
                type: "POST",
                url: '/queryfbproductid',
                data: { id: id, nameid: ID },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr value="' + item["Id"] + '">';
                        str += '<td><input type="checkbox" value="' + item["Id"] + '">' + item["DemandNname"] + '</td>';
                        str += ' <td>' + item["Priority"] + '</td>';
                        str += ' <td></td>';
                        str += '<td>' + item["Name"] + '</td>';
                        str += '<td>' + item["status"] + '</td>';
                        str += '<td>' + item["MakeTime"] + '</td>';
                        str += " </tr>";
                    });
                    $("#fb" + id + "").append(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  通过产品ID查询需求条数(我发布的)
        function QueryfbCount(id, ID) {
            $.ajax({
                type: "POST",
                url: '/queryfbcount',
                data: { id: id, nameid: ID },
                success: function (dataBack) {
                    $("#afb" + id + "").append("（" + dataBack.data + "条）");
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion



        //#region  只看产品页面查询产品
        //function JustlookProducts() {
        //    $.ajax({
        //        type: "GET",
        //        url: '/queryzkcpproducts',
        //        data: {},
        //        success: function (dataBack) {
        //            var str = '';
        //            str += '<thead>';
        //            str += '<tr>';
        //            str += '<th><input type="checkbox"><span></span>标题</th>';
        //            str += ' <th><span></span>优先级</th>';
        //            str += ' <th></th>';
        //            str += '<th><span></span>发布人</th>';
        //            str += '<th><span></span>审核状态</th>';
        //            str += '<th><span></span>发布时间</th>';
        //            str += '</tr>';
        //            str += '</thead>';
        //            $(dataBack.data).each(function (index, item) {
        //                str += '<thead id="' + item["Id"] + '" value="' + item["Id"] + '">';
        //                str += '<tr>';
        //                str += '<th id="zkcp' + item["Id"] + '"><input type="checkbox" style="margin-right: 8px;">' + item["ProductName"] + '</th>';
        //                str += '<th></th>';
        //                str += '<th></th>';
        //                str += '<th></th>';
        //                str += '<th></th>';
        //                str += '<th></th>';
        //                str += '</tr>';
        //                str += '</thead>';
        //                QueryzkcpCount(item["Id"]);   //获得产品ID查询需求条数
        //            });
        //            $("#tablezkcp").html(str);
        //        },
        //        error: function (error) {
        //            alert(error.status + error.statusText)
        //        }
        //    });
        //}
        ////#endregion

        ////#region  只看产品页面查询需求条数
        //function QueryzkcpCount(id) {
        //    $.ajax({
        //        type: "POST",
        //        url: '/queryrequestcount',
        //        data: { id: id },
        //        success: function (dataBack) {
        //            $("#zkcp" + id + "").append("（" + dataBack.data + "条）");
        //        },
        //        error: function (error) {
        //            alert(error.status + error.statusText)
        //        }
        //    });
        //}
        ////#endregion


        //#region  添加产品
        function CarryOutProducts() {
            $.ajax({
                type: "GET",
                url: '/carryoutproducts',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    str += '<thead>';
                    str += '<tr>';
                    str += '<th><input type="checkbox"><span></span>标题</th>';
                    str += ' <th><span></span>优先级</th>';
                    str += ' <th></th>';
                    str += '<th><span></span>发布人</th>';
                    str += '<th><span></span>审核状态</th>';
                    str += '<th><span></span>发布时间</th>';
                    str += '</tr>';
                    str += '</thead>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<thead id="carry' + item["Id"] + '" value="' + item["Id"] + '">';
                        str += '<tr>';
                        str += '<th id="carry1' + item["Id"] + '">' + item["ProductName"] + '</th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '</tr>';
                        str += '</thead>';
                        QueryCarryOutProductId(item["Id"]);   //获得产品ID查询需求信息
                        QueryCarryOutCount(item["Id"]);   //获得产品ID查询需求条数
                    });
                    $("#carryout").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion
        //#region  通过产品ID查询需求信息
        function QueryCarryOutProductId(id) {
            $.ajax({
                type: "POST",
                url: '/querycarryoutproductid',
                data: { id: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr value="' + item["Id"] + '">';
                        str += '<td><input type="checkbox">' + item["DemandNname"] + '</td>';
                        str += ' <td>' + item["Priority"] + '</td>';
                        str += ' <td></td>';
                        str += '<td>' + item["Name"] + '</td>';
                        str += '<td>' + item["status"] + '</td>';
                        str += '<td>' + item["MakeTime"] + '</td>';
                        str += " </tr>";
                    });
                    $("#carry" + id + "").append(str);
                    str = '';
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion
        //#region  通过产品ID查询需求条数
        function QueryCarryOutCount(id) {
            $.ajax({
                type: "POST",
                url: '/querycarryoutcount',
                data: { id: id },
                success: function (dataBack) {
                    $("#carry1" + id + "").append("（" + dataBack.data + "条）");
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion


        var num = 0;
        //#region  查看全部页面选中多选框得到ID
        function DeleteStatus() {
            $.each($('input:checkbox:checked'), function () {
                num = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/deletestatus",
                    data: {
                        deletestatus: 3,
                        ID: num
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            layer.msg(dataBack.message, { icon: 1 });
                        }
                    },
                    error: function (error) {
                        layer.msg(dataBack.message, { icon: 2 });
                    }
                });
            });
            if (num == 0) {
                layer.msg("请选择删除的需求！", { icon: 3 });
                return false;
            }



            QueryProducts();
            SelectDemand(ID);
        }
        //#endregion

        //#region  垃圾箱添加产品
        function DeleteQueryProducts() {
            $.ajax({
                type: "GET",
                url: '/deletequeryselectproducts',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    str += '<thead>';
                    str += '<tr>';
                    str += '<th><input name="one"  type="checkbox" id="CheckAll"><span></span>标题</th>';
                    str += ' <th><span></span>优先级</th>';
                    str += ' <th></th>';
                    str += '<th><span></span>发布人</th>';
                    str += '<th><span></span>审核状态</th>';
                    str += '<th><span></span>发布时间</th>';
                    str += '</tr>';
                    str += '</thead>';
                    $(dataBack.data).each(function (index, item) {
                        str += '<thead id="delete' + item["Id"] + '" value="' + item["Id"] + '">';
                        str += '<tr>';
                        str += '<th id="adelete' + item["Id"] + '">' + item["ProductName"] + '</th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '</tr>';
                        str += '</thead>';
                        DeleteQueryRequestByProductId(item["Id"]);   //获得产品ID查询需求信息
                        DeleteQueryRequestCount(item["Id"]);   //获得产品ID查询需求条数
                    });
                    $("#ljxtable").html(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  垃圾箱通过产品ID查询需求信息
        function DeleteQueryRequestByProductId(id) {
            $.ajax({
                type: "POST",
                url: '/deletequeryrequestbyproductid',
                data: { id: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr value="' + item["Id"] + '">';
                        str += '<td><input name="check" type="checkbox" value="' + item["Id"] + '">' + item["DemandNname"] + '</td>';
                        str += ' <td>' + item["Priority"] + '</td>';
                        str += ' <td></td>';
                        str += '<td>' + item["Name"] + '</td>';
                        str += '<td>' + item["status"] + '</td>';
                        str += '<td>' + item["MakeTime"] + '</td>';
                        str += " </tr>";
                    });
                    $("#delete" + id + "").append(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        //#region  垃圾箱通过产品ID查询需求条数
        function DeleteQueryRequestCount(id) {
            $.ajax({
                type: "POST",
                url: '/deletequeryrequestcount',
                data: { id: id },
                success: function (dataBack) {
                    $("#adelete" + id + "").append("（" + dataBack.data + "条）");
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        //#endregion

        var huo = 0;
        //#region  垃圾箱需求还原
        function Reduction() {
            $.each($('input:checkbox:checked'), function () {
                huo = $(this).val();
                alert(huo);
                $.ajax({
                    type: "POST",
                    url: "/reduction",
                    data: {
                        deletestatus: 1,
                        ID: huo
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            layer.msg(dataBack.message, { icon: 1 });
                        }
                    },
                    error: function (error) {
                        layer.msg(dataBack.message, { icon: 2 });
                    }
                });

            });
            if (huo == 0) {
                layer.msg("请选择还原的需求！", { icon: 3 });
            }
            DeleteQueryProducts();
        }
        //#endregion

        var sum = 0;
        //#region  删除需求信息
        function DeleteData() {
            $.each($('input:checkbox:checked'), function () {
                sum = $(this).val();
            });
            if (sum == 0) {
                layer.msg("请选择删除的需求！", { icon: 3 });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/deletedata",
                    data: {
                        ID: sum
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            layer.msg(dataBack.message, { icon: 1 });
                        }
                    },
                    error: function (error) {
                        layer.msg(dataBack.message, { icon: 2 });
                    }
                });
            }
            DeleteQueryProducts();
        }
        //#endregion

        var reviewid = 0;
        //#region  审核通过需求信息
        function Review() {
            $.each($('input:checkbox:checked'), function () {
                reviewid = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {
                        Status: "已通过",
                        ID: reviewid
                    },
                    success: function (dataBack) {
                        if (dataBack.result == 1) {
                            layer.msg(dataBack.message, { icon: 1 });
                        }
                    },
                    error: function (error) {
                        layer.msg(dataBack.message, { icon: 2 });
                    }
                });

            });
            if (reviewid == 0) {
                layer.msg("请选择需审核的需求！", { icon: 3 });
            }
            QueryProducts();
        }
        //#endregion

    </script>
</body>
</html>