@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>02</title>
    <!--boot的css-->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!--自己的css-->
    <link href="~/css/productdemand.css" rel="stylesheet" />
</head>
<body>
    <!--上-->
    <div id="top">
        <div class="green">
            <div class="wrap">
                <ul class="ulz lt">
                    <li class="cp lt">产品需求</li>
                </ul>
                <ul class="uly lt" style="width:70%">
                    <li style="color:#fff;float:left;margin-top:35px;margin-left:20px"><p>Publisher：刘靖凯</p><p>date：2017/7/31</p></li>
                    <li class="shd rt">
                        <img src="~/images/Demand/fd_03.png" alt="" class="fdj" />
                        <span>搜&nbsp;&nbsp;索</span>
                        <span class="bbbb"></span>
                        <input type="text" class="texxx" placeholder="请输入要搜索的内容">

                    </li>
                </ul>
            </div>
        </div>
        <!--点击按钮-->
        <div class="why momo">
            <ul class="momo-0">
                <li><a href="http://localhost:61110/demand"><button class="lt btn btn-primary btn-lg" data-toggle="modal">新增</button></a></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <li><button class="lt btn btn-primary ">审核通过</button></li>
            </ul>
            <ul class="momo-1" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-2" style="display:none ;">
                <!--<li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>-->
                <!--<li><button class="btn btn-primary lt">删除</button></li>-->
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-3" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增</button></li>
                <li><button class="btn btn-primary lt btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <!--<li><button class="btn btn-primary lt">审核通过</button></li>-->
            </ul>
            <ul class="momo-4" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
            </ul>
            <ul class="momo-5" style="display:none ;">
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myYuan">还原</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMsso">删除</button></li>
                <li><button class="lt btn btn-primary btn-lg" data-toggle="modal" data-target="#myMos">清空</button></li>
            </ul>
        </div>
    </div>
    <!--模态框 点击新增-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加产品
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <label for="inputEmail3" class="col-sm-2 control-label">添加产品</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="请输入名称">
                            </div>
                        </div>
                        <div class="form-group" style="overflow:hidden;">
                            <label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>
                            <div class="col-xs-10">
                                <select class="form-control ">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框 点击还原-->
    <div class="modal fade" id="myYuan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否还原内容？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        是
                    </button>
                    <button type="button" class="btn btn-primary">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--删除-->
    <div class="modal fade" id="myMsso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMod">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否删除内容？</h3>
                        </div>
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group"  style="overflow:hidden;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="inputEmail3" class=" control-label col-xs-2">适配环境</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-xs-10">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select class="form-control ">&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>1</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>2</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>3</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>4</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option>5</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        是
                    </button>
                    <button type="button" class="btn btn-primary">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框 点击清空-->
    <div class="modal fade" id="myMos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myMooo">
                        提&nbsp;&nbsp;示
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group" style="overflow:hidden;">
                            <h3 style="text-align: center">是否清空内容？</h3>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        是
                    </button>
                    <button type="button" class="btn btn-primary">
                        否
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--left content-->
    <div class="nav lt">
        <ul class="nav_ui">
            <li style="background:#293335"><a href="#" class="momo-js" id="quanbu">查看全部</a></li>
            <li><a href="#" class="momo-js" id="fabu">我发布的</a></li>
            <li><a href="#" class="momo-js" id="wanchegn">已完成的</a></li>
            <!--<li><a href="#">添加产品</a></li>-->
            <li><a href="#" class="momo-js" id="zhikan">只看产品</a></li>
            <li><a href="#" class="momo-js" id="caogao">草稿箱</a></li>
            <li><a href="#" class="momo-js" id="laji">垃圾箱</a></li>
        </ul>
    </div>
    <!--right_content-->
    <div class="right_content">
        <!-- 查看全部-->
        <div class="tabb ss1" style="display: none">
            <table id="table1" class="table table-hover" style=" color: #ccc;">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题 @ViewData["count"]</th>
                        <th><span></span>优先级</th>
                        <th></th>
                        <th><span></span>发布人</th>
                        <th><span></span>审核状态</th>
                        <th><span></span>发布时间</th>

                    </tr>
                </thead>
                @*<thead>
                        <tr>
                            <th>微信公众号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号收费</td>
                        <td>aaaa</td>
                        <td></td>
                        <td>地球求</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>门诊挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">门诊挂号</td>
                        <td>sssss</td>
                        <td></td>
                        <td>你是谁</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>预约挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">预约挂号挂号</td>
                        <td>dddddd</td>
                        <td></td>
                        <td>走开</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>药物挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">药物挂号</td>
                        <td>ffffff</td>
                        <td></td>
                        <td>你该吃药了兄弟</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>服务号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">呜呜挂号</td>
                        <td>ggga</td>
                        <td></td>
                        <td>挂你妹</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>眼科挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>jiangj</td>
                        <td></td>
                        <td>验验验验验验验</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>aaaadddd</td>
                        <td></td>
                        <td>啊啊啊啊啊啊啊啊</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox">眼科挂号</td>
                        <td>别再说</td>
                        <td></td>
                        <td>eeeeeeee</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>
                    <thead>
                        <tr>
                            <th>微信公众号挂号（20条）</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><input type="checkbox">微信公众号挂号</td>
                        <td>a折磨a</td>
                        <td></td>
                        <td>娃娃娃娃女</td>
                        <td>未通过</td>
                        <td>2017/8/7</td>
                    </tr>*@
            </table>
        </div>
        <!-- 我发布的-->
        <div class="tabb ss2" style="display: none">
            <table class="table table-hover" style=" color: #ccc; ">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题</th>
                        <th><span></span>优先级</th>
                        <th></th>
                        <th><span></span>发布人</th>
                        <th><span></span>审核状态</th>
                        <th><span></span>发布时间</th>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>微信公众号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号收费</td>
                    <td>aaaa</td>
                    <td></td>
                    <td>地球求</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>门诊挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">门诊挂号</td>
                    <td>sssss</td>
                    <td></td>
                    <td>你是谁</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>预约挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">预约挂号挂号</td>
                    <td>dddddd</td>
                    <td></td>
                    <td>走开</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>药物挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">药物挂号</td>
                    <td>ffffff</td>
                    <td></td>
                    <td>你该吃药了兄弟</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>服务号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">呜呜挂号</td>
                    <td>ggga</td>
                    <td></td>
                    <td>挂你妹</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>眼科挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>jiangj</td>
                    <td></td>
                    <td>验验验验验验验</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>aaaadddd</td>
                    <td></td>
                    <td>啊啊啊啊啊啊啊啊</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>别再说</td>
                    <td></td>
                    <td>eeeeeeee</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>微信公众号挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号挂号</td>
                    <td>a折磨a</td>
                    <td></td>
                    <td>娃娃娃娃女</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
            </table>
        </div>
        <!-- 已完成的-->
        <div class="tabb ss3" style="display: none">
            <table class="table table-hover" style=" color: #ccc; ">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题</th>
                        <th><span></span>优先级</th>
                        <th></th>
                        <th><span></span>发布人</th>
                        <th><span></span>审核状态</th>
                        <th><span></span>发布时间</th>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>微信公众号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号收费</td>
                    <td>aaaa</td>
                    <td></td>
                    <td>地球求</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>门诊挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">门诊挂号</td>
                    <td>sssss</td>
                    <td></td>
                    <td>你是谁</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>预约挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">预约挂号挂号</td>
                    <td>dddddd</td>
                    <td></td>
                    <td>走开</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>药物挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">药物挂号</td>
                    <td>ffffff</td>
                    <td></td>
                    <td>你该吃药了兄弟</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>服务号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">呜呜挂号</td>
                    <td>ggga</td>
                    <td></td>
                    <td>挂你妹</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>眼科挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>jiangj</td>
                    <td></td>
                    <td>验验验验验验验</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>aaaadddd</td>
                    <td></td>
                    <td>啊啊啊啊啊啊啊啊</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>别再说</td>
                    <td></td>
                    <td>eeeeeeee</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>微信公众号挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号挂号</td>
                    <td>a折磨a</td>
                    <td></td>
                    <td>娃娃娃娃女</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
            </table>
        </div>
        <!--只看产品-->
        <div class="tabb ss4" style="display:none">
            <table class="table table-hover" style="color: #ccc">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题</th>
                        <!--<th><span></span>优先级</th>-->
                        <!--<th></th>-->
                        <th><span></span>发布人</th>
                        <!--<th><span></span>审核状态</th>-->
                        <th><span></span>发布时间</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th><input type="checkbox" style="margin-right: 8px;">微信公众号（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>

                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">微信公众号收费</td>-->
                <!--<td>地球求</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th> <input type="checkbox" style="margin-right: 8px;">门诊挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">门诊挂号</td>-->
                <!--<td>你是谁</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th> <input type="checkbox" style="margin-right: 8px;">预约挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">预约挂号挂号</td>-->
                <!--<td>走开</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th>  <input type="checkbox" style="margin-right: 8px;">药物挂号&nbsp;&nbsp;&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">药物挂号</td>-->
                <!--<td>你该吃药了兄弟</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th><input type="checkbox" style="margin-right: 8px;">服务号&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">呜呜挂号</td>-->
                <!--<td>挂你妹</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th><input type="checkbox" style="margin-right: 8px;">眼科挂号 &nbsp;&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">眼科挂号</td>-->
                <!--<td>验验验验验验验</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><input type="checkbox">眼科挂号</td>-->
                <!--<td>啊啊啊啊啊啊啊啊</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td><input type="checkbox">眼科挂号</td>-->
                <!--<td>eeeeeeee</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
                <thead>
                    <tr>
                        <th><input type="checkbox" style="margin-right: 8px;">微信公众号挂号&nbsp;（20条）</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    </tr>
                </thead>
                <!--<tr>-->
                <!--<td><input type="checkbox">微信公众号挂号</td>-->
                <!--<td>娃娃娃娃女</td>-->
                <!--<td>未通过</td>-->
                <!--<td>2017/8/7</td>-->
                <!--</tr>-->
            </table>
        </div>
        <!--草稿箱-->
        <div class="tabb ss5" style="display: none">
            <table class="table table-hover" style="color: #ccc">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题</th>

                        <th><span></span>发布时间</th>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>微信公众号（20条）</th>
                        <th></th>

                    </tr>

                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号收费</td>
                    <td>aaaa</td>
                </tr>
                <thead>
                    <tr>
                        <th>门诊挂号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">门诊挂号</td>
                    <td>sssss</td>
                </tr>
                <thead>
                    <tr>
                        <th>预约挂号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">预约挂号挂号</td>
                    <td>dddddd</td>
                </tr>
                <thead>
                    <tr>
                        <th>药物挂号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">药物挂号</td>
                    <td>ffffff</td>
                </tr>
                <thead>
                    <tr>
                        <th>服务号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">呜呜挂号</td>
                    <td>ggga</td>
                </tr>
                <thead>
                    <tr>
                        <th>眼科挂号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>jiangj</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>aaaadddd</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>别再说</td>
                </tr>
                <thead>
                    <tr>
                        <th>微信公众号挂号（20条）</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号挂号</td>
                    <td>a折磨a</td>
                </tr>
            </table>
        </div>
        <!--垃圾箱-->
        <div class="tabb ss6" style="display:none">
            <table class="table table-hover" style="color: #ccc">
                <thead>
                    <tr>
                        <th><input type="checkbox"><span></span>标题</th>
                        <th><span></span>优先级</th>
                        <th></th>
                        <th><span></span>发布人</th>
                        <th><span></span>审核状态</th>
                        <th><span></span>发布时间</th>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>微信公众号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号收费</td>
                    <td>aaaa</td>
                    <td></td>
                    <td>地球求</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>门诊挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">门诊挂号</td>
                    <td>sssss</td>
                    <td></td>
                    <td>你是谁</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>预约挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">预约挂号挂号</td>
                    <td>dddddd</td>
                    <td></td>
                    <td>走开</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>药物挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">药物挂号</td>
                    <td>ffffff</td>
                    <td></td>
                    <td>你该吃药了兄弟</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>服务号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">呜呜挂号</td>
                    <td>ggga</td>
                    <td></td>
                    <td>挂你妹</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>眼科挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>jiangj</td>
                    <td></td>
                    <td>验验验验验验验</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>aaaadddd</td>
                    <td></td>
                    <td>啊啊啊啊啊啊啊啊</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <tr>
                    <td><input type="checkbox">眼科挂号</td>
                    <td>别再说</td>
                    <td></td>
                    <td>eeeeeeee</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
                <thead>
                    <tr>
                        <th>微信公众号挂号（20条）</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td><input type="checkbox">微信公众号挂号</td>
                    <td>a折磨a</td>
                    <td></td>
                    <td>娃娃娃娃女</td>
                    <td>未通过</td>
                    <td>2017/8/7</td>
                </tr>
            </table>
        </div>
    </div>
    <!--最下-->
    <div id="sos" style="text-align:center">
        <div class="whyy">
            <div class="rt">
                <ul class="uis">
                    <li class="lt"><a href="#">1/8页</a></li>
                    <li class="lt"><a href="#">下一页</a></li>
                    <li class="lt"><input type="text"></li>
                    <li class="lt"><a href="#">跳 转</a></li>
                </ul>
            </div>
        </div>
        <ul class="uubb">
            <li style="line-height:50px;display:inline-block"><a href="#">帮助中心</a></li>
            <li style="line-height:50px;display:inline-block"><a href="#">关于我们</a></li>
            <li style="line-height:50px;display:inline-block"><a href="#">注意事项</a></li>
            <br>
        </ul>
        <p class="pp_1 pp_2"> Copyright 2017-08-01 大连医卫 New technology research center</p>

    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/productdemand.js"></script>
    <script src="~/layer/layer.js"></script>
    <script>
        $(function () {
            $(".nav_ui li").click(function (event) {
                $(".nav_ui li").css({ 'background': '', 'color': '' });
                $(this).css({ 'background': '#293335', 'color': '#000' });
            });
            QueryProducts();
        });
        function QueryProducts() {
            $.ajax({
                type: "GET",
                url: '/queryselectproducts',
                data: {},
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<thead id="' + item["Id"]+'" value="' + item["Id"] + '">';
                        str += '<tr>';
                        str += '<th>' + item["ProductName"]+ '</th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '<th></th>';
                        str += '</tr>';
                        str += '</thead>';
                        QueryRequestByProductId(item["Id"]);
                        QueryRequestCount(item["Id"]);
                    });
                    $("#table1").append(str);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        function QueryRequestByProductId(id) {
            $.ajax({
                type: "POST",
                url: '/queryrequestbyproductid',
                data: { id: id },
                success: function (dataBack) {
                    var str = '';
                    $(dataBack.data).each(function (index, item) {
                        str += '<tr value="' + item["Id"] + '">';
                        str += '<td><input type="checkbox">' + item["DemandNname"] + '</td>';
                        str += ' <td>' + item["Priority"] + '</td>';
                        str += ' <td></td>';
                        str += '<td>' + item["Name"] + '</td>';
                        str += '<td>' + item["status"] + '</td>';
                        str += '<td>' + item["MakeTime"]+'</td>';
                        str += " </tr>";
                    });
                    $("#" + id + "").append(str);
                    str = '';
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
        function QueryRequestCount(id) {
            $.ajax({
                type: "POST",
                url: '/queryrequestcount',
                data: { id: id },
                success: function (dataBack) {
                    //var str = '';
                    //$(dataBack.data).each(function (index, item) {
                    //    str += ;

                    //});
                    //alert(str);
                    $("#table1").val(@ViewData["count"]);
                },
                error: function (error) {
                    alert(error.status + error.statusText)
                }
            });
        }
    </script>
</body>
</html>